In [1]:
import numpy as np
import pandas as pd
import sys
import os
import pickle 

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import label_binarize
from sklearn.ensemble import RandomForestClassifier
import scipy.stats as ss

In [2]:
sys.path.append('../utils')
from simple_impute import simple_imputer

# Task Specifics

In [4]:
INTERVENTION = 'vent'
RANDOM = 0
MAX_LEN = 240
SLICE_SIZE = 6
GAP_TIME = 6
PREDICTION_WINDOW = 4
OUTCOME_TYPE = 'all'
NUM_CLASSES = 4

In [5]:
CHUNK_KEY = {'ONSET': 0, 'CONTROL': 1, 'ON_INTERVENTION': 2, 'WEAN': 3}

# Load Data

In [6]:
DATAFILE = 'D:/data/MIMIC_Extract/samples.h5'

In [8]:
X = pd.read_hdf(DATAFILE,'vitalslabs')
Y = pd.read_hdf(DATAFILE,'interventions')
static = pd.read_hdf(DATAFILE,'patients')

# save data by h5py

In [9]:
static.head()

,,,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,discharge_location,fullcode_first,dnr_first,...,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.526792,Medicare,2101-10-20 19:08:00,HYPOTENSION,2101-10-31 13:58:00,SNF,1.0,0.0,...,2101-10-26 20:43:09,6.064560,EMERGENCY,MICU,0,0,0,1,0,145
4,185777,294638,F,WHITE,47.845047,Private,2191-03-16 00:28:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",2191-03-23 18:41:00,HOME WITH HOME IV PROVIDR,1.0,0.0,...,2191-03-17 16:46:31,1.678472,EMERGENCY,MICU,0,0,0,1,0,40
6,107064,228232,F,WHITE,65.942297,Medicare,2175-05-30 07:15:00,CHRONIC RENAL FAILURE/SDA,2175-06-15 16:00:00,HOME HEALTH CARE,1.0,0.0,...,2175-06-03 13:39:54,3.672917,ELECTIVE,SICU,0,0,0,1,0,88
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.790228,Medicaid,2149-11-09 13:06:00,HEMORRHAGIC CVA,2149-11-14 10:15:00,DEAD/EXPIRED,1.0,0.0,...,2149-11-14 20:52:14,5.323056,EMERGENCY,MICU,1,1,1,1,0,127
11,194540,229441,F,WHITE,50.148295,Private,2178-04-16 06:18:00,BRAIN MASS,2178-05-11 19:00:00,HOME HEALTH CARE,1.0,0.0,...,2178-04-17 20:21:05,1.584410,EMERGENCY,SICU,0,0,0,1,0,38

In [10]:
X.head()

LEVEL2                                 alanine aminotransferase             \
Aggregation Function                                      count  mean  std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             2.0  25.0  0.0
                              1                             0.0   NaN  NaN
                              2                             0.0   NaN  NaN
                              3                             0.0   NaN  NaN
                              4                             0.0   NaN  NaN

LEVEL2                                 albumin           albumin ascites       \
Aggregation Function                     count mean  std           count mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            2.0  1.8  0.0             0.0  NaN
                              1            0.0  NaN  NaN             0.0  NaN
                              2            0.0  NaN  NaN             0.0  NaN
                              3            0.0  NaN  NaN             0.0  NaN
                              4            0.0  NaN  NaN             0.0  NaN

LEVEL2                                     albumin pleural  ...  \
Aggregation Function                   std           count  ...
subject_id hadm_id icustay_id hours_in                      ...
3          145834  211552     0        NaN             0.0  ...
                              1        NaN             0.0  ...
                              2        NaN             0.0  ...
                              3        NaN             0.0  ...
                              4        NaN             0.0  ...

LEVEL2                                 white blood cell count  \
Aggregation Function                                      std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                      4.012837
                              1                           NaN
                              2                           NaN
                              3                           NaN
                              4                           NaN

LEVEL2                                 white blood cell count urine           \
Aggregation Function                                          count mean std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                 0.0  NaN NaN
                              1                                 0.0  NaN NaN
                              2                                 0.0  NaN NaN
                              3                                 0.0  NaN NaN
                              4                                 0.0  NaN NaN

LEVEL2                                    ph                 ph urine
Aggregation Function                   count  mean       std    count mean std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0          9.0  7.40  0.147733      1.0  5.0 NaN
                              1          0.0   NaN       NaN      0.0  NaN NaN
                              2          3.0  7.26  0.000000      0.0  NaN NaN
                              3          0.0   NaN       NaN      0.0  NaN NaN
                              4          0.0   NaN       NaN      0.0  NaN NaN

[5 rows x 312 columns]

In [11]:
Y.head()

                                        vent  vaso  adenosine  dobutamine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            1     0          0           0
                              1            1     1          0           0
                              2            1     1          0           0
                              3            1     1          0           0
                              4            1     1          0           0

                                        dopamine  epinephrine  isuprel  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                0            0        0
                              1                1            0        0
                              2                1            0        0
                              3                0            0        0
                              4                0            0        0

                                        milrinone  norepinephrine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                 0               0
                              1                 0               0
                              2                 0               0
                              3                 0               0
                              4                 0               1

                                        phenylephrine  vasopressin  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0            0
                              1                     1            0
                              2                     1            0
                              3                     1            0
                              4                     1            0

                                        colloid_bolus  crystalloid_bolus  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0                  0
                              1                     0                  0
                              2                     0                  0
                              3                     0                  0
                              4                     0                  0

                                        nivdurations
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    0
                              1                    0
                              2                    0
                              3                    0
                              4                    0

# Preprocessing Data

## Train-Test Split, Stratified

In [12]:
train_ids, test_ids = train_test_split(static.reset_index(), test_size=0.2, 
                                       random_state=RANDOM, stratify=static['mort_hosp'])
split_train_ids, val_ids = train_test_split(train_ids, test_size=0.125, 
                                            random_state=RANDOM, stratify=train_ids['mort_hosp'])

In [15]:
train_ids

,subject_id,hadm_id,icustay_id,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,...,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours
403,618,181546,261361,M,WHITE,77.569199,Medicare,2117-03-13 22:10:00,HIP FRACTURE,2117-03-26 14:55:00,...,2117-03-19 12:43:23,2.000903,EMERGENCY,CSRU,0,0,0,1,0,48
602,937,148592,228181,M,UNKNOWN/NOT SPECIFIED,75.324795,Medicare,2163-01-20 18:39:00,INTRACRANIAL HEMORRHAGE,2163-01-24 08:00:00,...,2163-01-26 00:45:43,5.253021,EMERGENCY,MICU,0,0,1,1,0,126
377,583,193132,284423,M,WHITE,63.917917,Private,2129-05-30 18:59:00,CORONARY ARTERY DISEASE,2129-06-07 14:30:00,...,2129-06-03 11:27:53,0.969954,EMERGENCY,CSRU,0,0,0,1,0,23
891,1380,146215,266829,M,WHITE,63.483889,Private,2168-03-14 23:34:00,SEPSIS,2168-04-25 16:09:00,...,2168-03-18 18:01:37,3.768530,EMERGENCY,MICU,0,0,0,1,0,90
533,823,158797,221472,F,UNKNOWN/NOT SPECIFIED,37.632179,Private,2134-08-29 20:26:00,S/P MOTOR VEHICLE ACCIDENT,2134-08-31 16:15:00,...,2134-08-30 20:39:26,1.008252,EMERGENCY,TSICU,0,0,0,1,0,24
365,561,105399,233424,M,UNKNOWN/NOT SPECIFIED,64.022987,Medicare,2113-07-25 21:11:00,INTRACRANIAL HEMORRAHGE;HEAD BLEED;TELEMETRY,2113-07-28 22:05:00,...,2113-07-28 23:12:27,3.083183,EMERGENCY,TSICU,1,1,1,1,0,73
421,642,130310,252990,F,WHITE,57.482259,Private,2116-04-07 00:23:00,"TE FISTULA,ASPIRATION",2116-04-15 18:30:00,...,2116-04-11 15:55:32,2.728171,EMERGENCY,CSRU,0,0,0,1,0,65
795,1231,193451,273059,M,WHITE,23.786689,Medicaid,2153-11-25 21:32:00,SPLENIC RUPTURE,2153-11-30 16:40:00,...,2153-11-27 20:58:14,1.975741,EMERGENCY,TSICU,0,0,0,1,0,47
698,1092,196723,249889,M,BLACK/AFRICAN AMERICAN,80.910348,Medicare,2155-09-10 17:53:00,RULE-OUT MYOCARDIAL INFARCTION;TELEMETRY;?CVA,2155-09-20 11:05:00,...,2155-09-19 14:54:47,8.763947,EMERGENCY,MICU,0,1,1,1,0,210
330,498,127076,227493,M,UNKNOWN/NOT SPECIFIED,59.082795,Medicaid,2151-04-23 18:36:00,CHEST PAIN\CATH,2151-05-01 11:30:00,...,2151-04-28 14:34:48,2.089329,EMERGENCY,CSRU,0,0,0,1,0,50
622,975,165225,299931,M,WHITE,64.661100,Medicare,2139-01-12 22:46:00,GASTROINTESTINAL BLEED,2139-01-24 12:23:00,...,2139-01-15 15:48:39,2.709294,EMERGENCY,MICU,0,0,0,1,0,65
60,98,188606,216929,F,WHITE,40.454372,Private,2137-04-02 08:00:00,ANEURYSM/SDA,2137-04-09 10:38:00,...,2137-04-04 21:06:16,2.243484,ELECTIVE,SICU,0,0,0,1,0,53
651,1016,165042,245497,F,WHITE,79.026579,Medicare,2167-02-17 19:48:00,STROKE;TELEMETRY;TRANSIENT ISCHEMIC ATTACK,2167-02-20 13:20:00,...,2167-02-20 13:19:10,2.729306,EMERGENCY,SICU,0,0,0,1,0,65
175,267,163714,223660,F,ASIAN - ASIAN INDIAN,24.748564,Private,2156-06-04 05:08:00,PANCREATITIS,2156-06-15 13:54:00,...,2156-06-08 15:34:34,4.434086,EMERGENCY,SICU,0,0,0,1,0,106
84,135,192180,290462,M,WHITE,49.948858,Private,2173-05-18 11:06:00,NUERO SARCOIDOSIS,2173-05-26 14:30:00,...,2173-05-21 18:24:19,1.346019,EMERGENCY,CCU,0,0,0,1,0,32
386,592,180029,235336,M,WHITE,63.280014,Private,2121-08-07 12:26:00,MOTOR VEHICLE ACCIDENT,2121-08-14 18:45:00,...,2121-08-14 21:00:29,7.356528,EMERGENCY,TSICU,1,1,1,1,0,176
109,169,192839,262856,M,WHITE,70.419907,Medicare,2131-01-12 14:00:00,CORONARY ARTERY DISEASE\ OFF PUMP CORONARY ART...,2131-01-21 15:00:00,...,2131-01-16 14:29:53,1.296366,ELECTIVE,CSRU,0,0,0,1,0,31
924,1440,182648,296198,M,WHITE,34.111618,Medicaid,2132-02-29 23:52:00,OVERDOSE,2132-03-02 12:50:00,...,2132-03-02 13:45:13,1.577431,EMERGENCY,MICU,0,0,0,1,0,37
994,1557,191920,234920,F,WHITE,72.647043,Medicare,2115-11-26 13:43:00,CORONARY ARTERY DISEASE\COMPLETE HEART CATH,2115-11-29 13:05:00,...,2115-11-27 14:23:00,0.847917,EMERGENCY,CCU,0,0,0,1,0,20
599,932,114330,279090,M,UNKNOWN/NOT SPECIFIED,63.791562,Private,2123-02-16 16:24:00,CHEST PAIN\CATH,2123-02-22 15:12:00,...,2123-02-19 10:54:00,2.096528,EMERGENCY,CSRU,0,0,0,1,0,50
445,688,197752,260386,M,WHITE,81.643433,Medicare,2116-02-29 14:38:00,GASTROINTESTINAL BLEED,2116-03-03 11:20:00,...,2116-03-01 15:24:40,1.031204,EMERGENCY,MICU,0,0,0,1,0,24
798,1234,131961,261239,M,WHITE,83.385968,Medicare,2182-12-18 01:22:00,"PNEUMONIA,SEPSIS",2182-12-19 17:00:00,...,2182-12-19 20:27:02,1.794479,EMERGENCY,MICU,1,1,1,1,0,43
43,68,170467,294232,F,BLACK/AFRICAN AMERICAN,41.797285,Medicare,2173-12-15 16:16:00,PNEUMONIA,2174-01-03 18:30:00,...,2173-12-19 15:51:16,3.536806,EMERGENCY,MICU,0,0,0,1,0,84
248,370,123421,228402,F,WHITE,83.520116,Medicare,2153-03-04 01:17:00,PNEUMONIA,2153-03-08 18:57:00,...,2153-03-06 15:07:00,2.575694,EMERGENCY,MICU,0,0,0,1,0,61
852,1316,126277,210745,F,BLACK/AFRICAN AMERICAN,46.487684,Medicaid,2184-10-14 06:04:00,ELECTROLYTE IMBALANCE,2184-10-20 18:00:00,...,2184-10-16 11:32:36,2.226458,EMERGENCY,MICU,0,0,0,1,0,53
171,262,106019,243312,M,UNKNOWN/NOT SPECIFIED,63.721455,Private,2153-09-25 18:01:00,HYPERTROPHIC CARDIOMYOPATHY\ETHANOL SEPTAL ABL...,2153-09-28 18:48:00,...,2153-09-27 13:59:18,1.831181,ELECTIVE,CCU,0,0,0,1,0,43
572,889,112992,287342,F,WHITE,81.396772,Medicare,2124-05-11 18:57:00,ANEMIA,2124-05-22 12:45:00,...,2124-05-17 17:50:44,1.223877,EMERGENCY,CSRU,0,0,0,1,0,29
250,372,144383,224741,M,WHITE,44.977643,Private,2114-07-08 17:22:00,SUBARACHNOID HEMORRHAGE,2114-07-16 16:00:00,...,2114-07-10 16:28:02,1.961875,EMERGENCY,SICU,0,0,0,1,0,47
997,1565,152881,203126,F,WHITE,63.064055,Private,2123-11-21 15:22:00,SUBARACHNOID HEMORRHAGE,2123-11-27 10:40:00,...,2123-11-23 19:17:59,2.162685,EMERGENCY,SICU,0,0,0,1,0,51
98,151,151029,263211,F,BLACK/AFRICAN AMERICAN,300.005447,Medicare,2145-05-06 20:00:00,UNSTABLE ANGINA,2145-05-15 17:30:00,...,2145-05-13 13:13:00,5.961354,EMERGENCY,CCU,0,0,0,1,0,143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,1317,198886,251511,F,WHITE,81.219858,Medicare,2162-06-09 21:39:00,PULMONARY EDEMA,2162-06-17 18:20:00,...,2162-06-15 21:12:00,5.979861,EMERGENCY,CCU,0,0,0,1,0,143
683,1060,181384,212518,M,WHITE,88.847881,Medicare,2163-08-05 23:27:00,SUBDURAL HEMATOMA,2163-08-12 12:35:00,...,2163-08-11 17:37:51,5.756852,EMERGENCY,TSICU,0,1,1,1,0,138
34,53,155385,239839,M,UNKNOWN/NOT SPECIFIED,45.552943,Private,2170-03-20 20:20:00,MYOCARDIAL INFARCTION\CARDIAC CATH,2170-03-23 18:00:00,...,2170-03-22 11:44:34,1.641227,EMERGENCY,CCU,0,0,0,1,0,39
597,929,180435,232176,M,WHITE,54.932040,Private,2112-04-05 07:15:00,MORBID OBESITY/SDA,2112-04-12 11:32:00,...,2112-04-09 17:54:47,3.258229,ELECTIVE,TSICU,0,0,0,1,0,78
848,1311,173933,210824,M,WHITE,82.372589,Private,2180-12-23 22:16:00,PELVIS FRACTURE,2180-12-28 09:59:00,...,2180-12-25 17:09:52,1.786146,EMERGENCY,TSICU,0,0,0,1,0,42
842,1301,108607,241142,F,WHITE,42.812720,Private,2140-07-27 00:04:00,BRAIN MASS,2140-08-01 10:30:00,...,2140-07-27 15:08:23,0.627431,EMERGENCY,SICU,0,0,0,1,0,15
397,609,126909,247884,F,UNKNOWN/NOT SPECIFIED,72.292959,Private,2110-03-03 10:11:00,CABG,2110-03-07 15:34:00,...,2110-03-04 13:08:00,1.122222,EMERGENCY,CSRU,0,0,0,1,0,26
829,1280,186100,205252,F,WHITE,75.807155,Medicare,2129-11-02 22:56:00,RIGHT VENTRICULAR INFARCTION;TELEMETRY,2129-11-06 13:30:00,...,2129-11-03 14:06:29,0.630775,EMERGENCY,CCU,0,0,0,1,0,15
545,853,160617,265859,M,WHITE,19.219675,Private,2146-05-04 19:57:00,S/P MPOTOR VEHICLE ACCIDENT,2146-05-16 13:30:00,...,2146-05-05 20:27:19,1.019919,EMERGENCY,TSICU,0,0,0,1,0,24
981,1539,158958,207733,F,WHITE,70.932723,Medicare,2199-02-15 07:15:00,COLON TUMOR/SDA,2199-03-02 14:40:00,...,2199-02-25 20:16:22,3.234988,ELECTIVE,TSICU,0,0,0,1,0,77
998,1566,132745,237221,M,UNKNOWN/NOT SPECIFIED,62.822416,Private,2152-08-04 19:02:00,AORTIC VALVE DISEASE\LEFT AND RIGHT HEART CATH...,2152-08-11 13:20:00,...,2152-08-08 12:17:00,1.127083,EMERGENCY,CCU,0,0,0,1,0,27
10,20,157681,264490,F,WHITE,75.877433,Medicare,2183-04-28 09:45:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2183-05-03 14:45:00,...,2183-04-29 16:13:48,1.050833,ELECTIVE,CSRU,0,0,0,1,0,25
127,189,119333,237693,F,WHITE,34.156652,Private,2132-09-08 07:15:00,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT; RESE...,2132-09-12 12:35:00,...,2132-09-09 12:47:33,1.089109,ELECTIVE,CSRU,0,0,0,1,0,26
601,936,188022,232436,F,WHITE,83.894325,Medicare,2197-09-11 17:28:00,INTERPARENCHYMAL HEMORRHAGE,2197-09-15 09:30:00,...,2197-09-13 22:23:16,2.201852,EMERGENCY,MICU,0,1,1,1,0,52
319,482,145066,238570,F,AMERICAN INDIAN/ALASKA NATIVE,84.886468,Medicaid,2184-12-31 02:29:00,BRADYCARDIA,2185-01-10 11:53:00,...,2185-01-03 00:19:00,2.909722,URGENT,CSRU,0,0,0,1,0,69
48,78,100536,233150,M,BLACK/AFRICAN AMERICAN,48.625771,Medicare,2177-02-14 00:16:00,OPIATE INTOXICATION,2177-02-17 22:12:00,...,2177-02-15 15:54:43,1.489086,EMERGENCY,MICU,0,0,0,1,0,35
999,1568,185964,263796,M,WHITE,20.848805,Government,2189-10-31 15:10:00,PNEUMONIA,2189-11-05 16:07:00,...,2189-11-04 16:55:17,3.845903,EMERGENCY,MICU,0,0,0,1,0,92
24,36,182104,280987,M,WHITE,69.711142,Medicare,2131-04-30 07:15:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2131-05-08 14:00:00,...,2131-05-05 13:07:03,1.109595,EMERGENCY,CSRU,0,0,0,1,0,26
205,309,162308,211035,M,WHITE,61.675292,Private,2160-06-04 09:45:00,CHEST PAIN;CORONARY ARTERY DISEASE\CATH,2160-06-06 14:50:00,...,2160-06-05 19:03:42,1.387350,EMERGENCY,CCU,0,0,0,1,0,33
993,1556,129719,215874,F,HISPANIC OR LATINO,39.802673,Medicaid,2155-03-02 17:03:00,PNEUMONIA,2155-03-18 21:59:00,...,2155-03-07 15:18:50,4.030289,EMERGENCY,MICU,0,1,1,1,1,96
975,1530,178017,261787,M,WHITE,57.900065,Private,2198-08-17 07:15:00,ESOPHAGEAL CA/SDA,2198-08-24 15:45:00,...,2198-08-21 09:29:08,3.859803,ELECTIVE,CSRU,0,0,0,1,0,92
287,426,163706,296084,M,UNKNOWN/NOT SPECIFIED,300.005819,Medicare,2198-12-24 03:01:00,ACUTE CORONARY SYNDROME,2199-01-04 11:50:00,...,2198-12-28 12:01:45,2.775926,EMERGENCY,CCU,0,0,0,1,0,66
291,433,120589,208623,F,BLACK/AFRICAN AMERICAN,49.226942,Medicaid,2162-01-18 11:32:00,CONGESTIVE HEART FAILURE;TELEMETRY,2162-02-08 18:55:00,...,2162-02-04 20:31:34,4.108426,EMERGENCY,CCU,0,0,0,1,0,98
259,388,167504,241204,M,PATIENT DECLINED TO ANSWER,61.061728,Private,2104-04-14 17:55:00,ANGINA\CATH,2104-04-19 14:30:00,...,2104-04-17 12:08:19,2.198102,EMERGENCY,CSRU,0,0,0,1,0,52
641,1004,127794,236800,F,WHITE,55.942832,Private,2108-05-10 08:00:00,ANEURYSM/SDA,2108-05-25 16:00:00,...,2108-05-16 17:06:32,6.041123,ELECTIVE,SICU,0,0,0,1,0,144
86,137,151583,272335,M,WHITE,74.718832,Private,2191-11-10 13:57:00,CORONARY ARTERY DISEASE,2191-11-24 12:23:00,...,2191-11-21 14:06:57,5.132581,EMERGENCY,CSRU,0,0,0,1,0,123
340,518,120954,275290,M,OTHER,46.518958,Private,2109-03-26 16:14:00,PNEUMONIA;TELEMETRY,2109-03-29 18:30:00,...,2109-03-28 21:23:53,2.214155,EMERGENCY,MICU,0,0,0,1,1,53
784,1213,144341,202084,F,WHITE,33.539985,Medicaid,2200-09-05 05:03:00,SUBARACHNOID HEMORRHAGE,2200-09-08 14:45:00,...,2200-09-06 17:00:55,1.497627,EMERGENCY,SICU,0,0,0,1,0,35
9,19,109235,273430,M,WHITE,300.002970,Medicare,2108-08-05 16:25:00,C-2 FRACTURE,2108-08-11 11:29:00,...,2108-08-06 23:40:35,1.301690,EMERGENCY,TSICU,0,0,0,1,0,31
449,697,162458,231583,M,WHITE,26.600932,Private,2155-11-09 12:03:00,LEG REPAIR S/P MVA,2155-11-20 16:30:00,...,2155-11-12 00:17:43,2.234769,EMERGENCY,TSICU,0,0,0,1,0,53

In [16]:
test_ids

,subject_id,hadm_id,icustay_id,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,...,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours
90,142,131357,269111,F,WHITE,48.090299,Private,2143-04-01 07:15:00,MR\MITRAL VALVE REPLACEMENT MINIMALLY INVASIVE...,2143-04-05 18:40:00,...,2143-04-03 11:11:38,1.869456,ELECTIVE,CSRU,0,0,0,1,0,44
821,1268,183355,278756,M,WHITE,81.837515,Medicare,2110-05-07 08:00:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2110-05-12 20:15:00,...,2110-05-08 18:44:50,1.283391,ELECTIVE,CSRU,0,0,0,1,0,30
695,1087,106134,285291,M,UNKNOWN/NOT SPECIFIED,52.978333,Private,2169-12-21 21:52:00,AMPUTATION OF 4TH FINGER LEFT HAND,2169-12-27 11:51:00,...,2169-12-23 17:01:03,1.796759,EMERGENCY,SICU,0,0,0,1,0,43
197,298,119446,225523,F,WHITE,72.896938,Medicare,2140-08-07 00:33:00,LOWER GI BLEED,2140-08-19 17:00:00,...,2140-08-09 06:46:53,2.258981,EMERGENCY,MICU,0,0,0,1,0,54
483,746,117382,225829,M,WHITE,74.483316,Medicare,2159-11-26 09:33:00,STROKE/TIA,2159-12-05 16:30:00,...,2159-11-30 16:52:14,4.267731,EMERGENCY,SICU,0,0,0,1,0,102
889,1377,192054,273715,M,UNKNOWN/NOT SPECIFIED,72.922407,Medicare,2146-12-19 20:41:00,CONGESTIVE HEART FAILURE,2147-01-08 13:30:00,...,2147-01-05 10:47:00,6.123623,EMERGENCY,CSRU,0,0,0,1,0,146
610,952,163476,229883,M,BLACK/AFRICAN AMERICAN,62.044208,Medicare,2180-03-02 03:35:00,RESPIRATORY DISTRESS,2180-03-10 14:36:00,...,2180-03-07 22:10:35,5.773368,EMERGENCY,MICU,0,0,0,1,0,138
749,1163,127531,239353,M,WHITE,56.296597,Private,2195-08-19 21:08:00,DYSPNEA,2195-08-24 14:40:00,...,2195-08-20 18:51:04,0.903947,EMERGENCY,MICU,0,0,0,1,0,21
658,1026,103873,215365,F,WHITE,86.472043,Medicare,2196-04-02 05:18:00,SEPSIS,2196-04-04 16:30:00,...,2196-04-04 16:57:16,2.484514,EMERGENCY,CCU,0,0,0,1,0,59
773,1197,176732,217880,F,BLACK/AFRICAN AMERICAN,68.672025,Medicare,2193-08-21 21:44:00,INFECTION;GASTROINTESTINAL BLEED,2193-08-29 11:10:00,...,2193-08-23 21:36:53,1.992859,EMERGENCY,MICU,0,0,0,1,0,47
446,689,163520,250569,F,BLACK/AFRICAN AMERICAN,51.269138,Medicare,2180-04-03 15:22:00,DELTA MENTAL STATUS CHANGES,2180-05-19 11:56:00,...,2180-04-13 09:29:59,9.753148,EMERGENCY,MICU,0,0,0,1,0,234
461,712,108413,255571,M,WHITE,85.707506,Medicare,2155-11-01 14:35:00,CORONARY ARTERY DISEASE;CONGESTIVE HEART FAILU...,2155-11-09 13:30:00,...,2155-11-02 22:07:09,0.940694,EMERGENCY,CCU,0,0,0,1,0,22
783,1211,191198,281901,M,UNKNOWN/NOT SPECIFIED,43.548817,Private,2110-07-24 20:32:00,S/P FALL,2110-07-25 17:00:00,...,2110-07-25 17:00:47,0.851806,EMERGENCY,TSICU,0,0,0,1,0,20
58,95,160891,216431,M,BLACK/AFRICAN AMERICAN,44.161644,Private,2157-12-25 16:28:00,COMPLETE HEART BLOCK,2157-12-27 15:25:00,...,2157-12-26 10:12:30,0.738113,EMERGENCY,CCU,0,0,0,1,0,17
352,540,160169,235635,M,WHITE,51.611339,Private,2151-02-01 08:45:00,VENTRAL HERNIA / ABDOMINAL PANNUS/SDA,2151-02-26 12:24:00,...,2151-02-10 16:13:03,9.047118,ELECTIVE,TSICU,0,0,0,1,1,217
295,438,165537,206269,F,BLACK/AFRICAN AMERICAN,23.461209,Private,2129-07-28 00:25:00,S/P PEDESTRIAN STRUCK,2129-08-11 14:14:00,...,2129-07-29 16:19:17,1.661065,EMERGENCY,TSICU,0,0,0,1,0,39
162,246,197430,287265,M,WHITE,68.764731,Medicare,2130-06-01 07:15:00,HEPATOMA/SDA,2130-06-07 15:00:00,...,2130-06-02 22:43:32,1.178889,ELECTIVE,SICU,0,0,0,1,0,28
22,34,115799,263086,M,WHITE,300.003169,Medicare,2186-07-18 16:46:00,CHEST PAIN\CATH,2186-07-20 16:00:00,...,2186-07-19 11:27:20,0.719803,EMERGENCY,MICU,0,0,0,1,0,17
207,313,199765,261824,F,UNKNOWN/NOT SPECIFIED,78.678516,Medicare,2139-07-26 16:43:00,C7 FRACTURE,2139-08-09 15:30:00,...,2139-07-31 21:01:04,5.177106,EMERGENCY,TSICU,0,0,0,1,0,124
132,197,129890,275674,M,OTHER,45.432957,Private,2174-03-22 19:47:00,EXPLORATORY LAPAROTOMY FOR SMALL BOWEL OBSTRUC...,2174-03-30 18:20:00,...,2174-03-23 20:24:29,0.826204,EMERGENCY,SICU,0,0,0,1,0,19
13,23,152223,227807,M,WHITE,71.132022,Medicare,2153-09-03 07:15:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2153-09-08 19:10:00,...,2153-09-04 15:59:11,1.264074,ELECTIVE,CSRU,0,0,0,1,0,30
687,1072,164280,281936,M,UNKNOWN/NOT SPECIFIED,72.079370,Medicare,2127-09-29 07:15:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2127-10-06 13:33:00,...,2127-09-30 13:01:29,1.129537,ELECTIVE,CSRU,0,0,0,1,0,27
293,436,114621,258663,F,WHITE,48.395314,Private,2147-06-19 00:01:00,HEMORRHAGIC STROKE,2147-06-26 17:56:00,...,2147-06-23 16:53:00,3.702083,EMERGENCY,MICU,0,1,1,1,0,88
299,445,137069,249121,F,WHITE,83.672502,Medicare,2194-11-11 17:03:00,CHEST PAIN,2194-11-14 14:49:00,...,2194-11-14 14:50:04,2.906296,EMERGENCY,CCU,0,0,0,1,0,69
631,985,126525,286656,F,WHITE,300.007663,Medicare,2119-04-30 16:17:00,CONGESTIVE HEART FAILURE,2119-05-06 12:50:00,...,2119-05-06 15:36:43,4.251759,EMERGENCY,CCU,1,1,1,1,0,102
124,186,164405,290079,F,WHITE,75.809924,Medicare,2176-09-25 23:13:00,GASTROINTESTINAL BLEED,2176-10-01 19:20:00,...,2176-09-29 16:13:18,3.707766,EMERGENCY,MICU,0,0,0,1,0,88
532,822,124634,203461,M,WHITE,28.718987,Medicare,2174-07-19 08:04:00,DECUBITUS ULCERS,2174-09-06 11:39:00,...,2174-07-20 20:29:58,1.473727,EMERGENCY,MICU,0,0,0,1,1,35
242,364,136153,209785,M,UNKNOWN/NOT SPECIFIED,71.114060,Medicare,2130-05-22 20:10:00,MASSIVE HEMOPTYSIS,2130-05-30 15:15:00,...,2130-05-29 15:14:08,6.793310,EMERGENCY,MICU,0,0,0,1,0,163
892,1382,183420,267476,M,WHITE,41.919625,Self Pay,2187-09-28 19:22:00,OVERDOSE,2187-09-30 17:00:00,...,2187-09-29 18:31:45,0.964213,EMERGENCY,MICU,0,0,0,1,0,23
567,884,165931,294446,M,UNKNOWN/NOT SPECIFIED,300.001776,Medicare,2167-06-09 05:57:00,S/P V-FIB ARREST,2167-06-17 16:27:00,...,2167-06-12 18:23:00,3.517361,EMERGENCY,CCU,0,1,1,1,0,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,124,172461,255660,M,WHITE,69.638280,Private,2160-06-24 21:25:00,CVA,2160-07-15 15:10:00,...,2160-07-13 17:40:30,3.911852,EMERGENCY,SICU,0,0,0,1,0,93
621,974,132333,287142,M,WHITE,39.786111,Government,2200-05-05 12:57:00,MYOCARDIAL INFARCTION,2200-05-08 14:06:00,...,2200-05-06 15:07:18,1.071331,EMERGENCY,CCU,0,0,0,1,0,25
961,1501,194689,252718,F,UNKNOWN/NOT SPECIFIED,72.000447,Medicare,2146-12-11 14:05:00,"CARDIAC CATH, S/P MYOCARDIAL INFARCTION",2146-12-26 14:39:00,...,2146-12-19 15:18:01,8.050185,EMERGENCY,CCU,0,0,0,1,0,193
156,239,127976,231723,M,WHITE,77.171853,Medicare,2175-01-12 07:15:00,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2175-01-28 15:00:00,...,2175-01-13 11:39:42,1.083796,ELECTIVE,CSRU,0,0,0,1,0,26
103,158,169433,257615,M,WHITE,67.939847,Private,2170-02-03 11:38:00,GASTROINTESTINAL BLEED,2170-02-06 16:49:00,...,2170-02-04 12:08:00,1.020139,EMERGENCY,CCU,0,0,0,1,0,24
558,874,191658,292620,M,WHITE,83.883739,Medicare,2109-01-11 18:12:00,STROKE,2109-03-07 11:57:00,...,2109-01-12 13:57:00,0.716667,EMERGENCY,SICU,0,0,0,1,0,17
877,1355,127417,232718,M,UNKNOWN/NOT SPECIFIED,83.596523,Medicare,2124-08-23 23:03:00,GASTROINTESTINAL BLEED,2124-09-30 11:21:00,...,2124-08-28 17:30:00,4.768056,EMERGENCY,MICU,0,0,0,1,1,114
803,1245,139691,268015,M,WHITE,45.250444,Private,2123-04-03 08:41:00,SPLENIC RUPTURE,2123-04-10 14:19:00,...,2123-04-08 20:54:00,5.508333,EMERGENCY,CSRU,0,0,0,1,0,132
160,243,129066,241533,M,BLACK/AFRICAN AMERICAN,42.759193,Medicare,2140-02-16 14:40:00,STATUS POST KIDNEY TRANSPLANT;ELEVATED CREATININE,2140-02-25 19:30:00,...,2140-02-19 18:24:08,2.313576,EMERGENCY,SICU,0,0,0,1,0,55
717,1114,164691,246051,M,WHITE,59.439582,Private,2160-12-04 19:56:00,ST ELELEVATION MI,2160-12-26 10:34:00,...,2160-12-10 18:12:01,5.926389,EMERGENCY,CCU,0,1,1,1,0,142
618,969,164177,231022,M,WHITE,71.940020,Private,2151-09-23 14:35:00,UNSTABLE ANGINA\CATH,2151-09-30 16:03:00,...,2151-09-28 16:38:00,1.176389,EMERGENCY,CSRU,0,0,0,1,0,28
978,1533,174474,225787,F,WHITE,59.404356,Medicare,2179-03-29 23:10:00,OVERDOSE,2179-04-02 19:40:00,...,2179-03-31 15:23:32,1.675382,EMERGENCY,MICU,0,0,0,1,0,40
128,191,142081,285720,M,ASIAN,68.882612,Medicare,2191-12-30 16:34:00,"ARF,GIB",2192-01-10 18:00:00,...,2192-01-04 00:48:57,4.211123,EMERGENCY,MICU,0,0,0,1,0,101
366,562,115068,285737,M,WHITE,22.277942,Private,2175-02-28 20:09:00,SPLENIC BLEED,2175-03-06 17:20:00,...,2175-03-01 20:59:17,1.034294,EMERGENCY,TSICU,0,0,0,1,0,24
931,1449,157890,247668,M,UNKNOWN/NOT SPECIFIED,79.600161,Medicare,2147-10-11 18:03:00,CORONARY ARTERY DISEASE,2147-10-24 12:39:00,...,2147-10-18 17:42:26,5.415671,EMERGENCY,CSRU,0,0,0,1,0,129
632,989,130009,201916,M,WHITE,70.910298,Private,2161-11-07 19:15:00,CHOLECYSTITIS,2161-11-17 15:50:00,...,2161-11-15 16:47:07,6.280359,EMERGENCY,TSICU,0,0,0,1,0,150
35,55,190665,262723,F,WHITE,64.162322,Medicare,2136-04-03 18:35:00,CAROTID STENOSIS\CAROTID ANGIOGRAM,2136-04-05 14:30:00,...,2136-04-05 16:31:29,1.913808,EMERGENCY,CCU,0,0,0,1,0,45
161,245,105501,216674,M,UNKNOWN/NOT SPECIFIED,76.199940,Medicare,2172-07-06 17:29:00,NON Q MI\CATH,2172-07-10 19:25:00,...,2172-07-10 21:36:18,3.481655,EMERGENCY,CSRU,1,1,1,1,0,83
653,1018,128155,295909,F,UNKNOWN/NOT SPECIFIED,68.301245,Medicare,2106-06-26 02:28:00,CHEST PAIN,2106-07-13 11:28:00,...,2106-07-09 10:42:19,2.962789,EMERGENCY,CSRU,0,0,0,1,0,71
797,1233,107110,209848,M,UNKNOWN/NOT SPECIFIED,86.843186,Medicare,2178-08-05 18:40:00,CORONARY ARTERY DISEASE;PULMONARY EDEMA\ANGIOP...,2178-08-14 14:02:00,...,2178-08-08 02:27:04,2.323345,EMERGENCY,MICU,0,0,0,1,0,55
616,960,143722,259952,M,UNKNOWN/NOT SPECIFIED,80.608453,Medicare,2102-02-06 14:12:00,CORONARY ARTERY DISEASE\CATH,2102-02-22 13:55:00,...,2102-02-09 15:24:06,3.049144,EMERGENCY,CCU,0,0,0,1,0,73
681,1058,119551,238642,F,WHITE,38.699880,Medicaid,2179-08-21 14:55:00,S/P FALL,2179-09-05 19:30:00,...,2179-08-22 18:08:32,0.934525,EMERGENCY,TSICU,0,0,0,1,0,22
772,1196,143821,216990,M,UNKNOWN/NOT SPECIFIED,49.794082,Private,2186-04-19 21:21:00,HEMOPTYSIS,2186-05-01 12:35:00,...,2186-04-22 21:26:17,3.003125,EMERGENCY,MICU,0,0,0,1,0,72
194,294,152578,222074,M,UNKNOWN/NOT SPECIFIED,78.662657,Medicare,2118-01-17 21:44:00,S/P MI;ISCHEMIC LEFT LEG,2118-02-02 16:07:00,...,2118-01-20 11:12:45,2.560880,EMERGENCY,CCU,0,0,0,1,0,61
515,797,100863,245190,M,WHITE,42.744038,Medicare,2139-08-24 22:00:00,SEPSIS;TELEMETRY,2139-08-29 14:45:00,...,2139-08-26 17:32:54,1.813310,EMERGENCY,MICU,0,0,0,1,0,43
576,894,112487,284118,M,UNKNOWN/NOT SPECIFIED,77.079529,Medicare,2108-10-26 16:20:00,NON Q MI\CATH,2108-10-29 16:35:00,...,2108-10-29 16:37:43,3.011551,EMERGENCY,CCU,0,0,0,1,0,72
190,290,138303,278519,M,UNKNOWN/NOT SPECIFIED,74.385779,Medicare,2179-01-26 07:15:00,ESOPHAGEAL DYSPLASIA/SDA,2179-02-08 17:30:00,...,2179-01-31 11:37:31,4.673750,ELECTIVE,TSICU,0,0,0,1,0,112
502,778,132827,247130,F,WHITE,61.849200,Private,2180-03-31 21:57:00,STATUS POST MOTOR VEHICLE ACCIDENT WITH INJURIES,2180-04-04 19:28:00,...,2180-04-02 00:22:55,1.090289,EMERGENCY,TSICU,0,0,0,1,0,26
216,324,146127,285067,M,WHITE,54.977436,Private,2199-10-16 01:11:00,S/P FALL,2199-10-16 17:19:00,...,2199-10-16 17:19:07,0.652766,EMERGENCY,TSICU,0,0,0,1,0,15
198,301,160332,288401,M,WHITE,85.328381,Medicare,2189-11-10 16:39:00,DEHYDRATION,2189-11-18 14:43:00,...,2189-11-13 22:11:28,2.415914,EMERGENCY,CCU,0,0,0,1,0,57

## Imputation and Standardization of Time Series Features

In [17]:
X_clean = simple_imputer(X,train_ids['subject_id'])

D:\software\Anaconda3\envs\mimic\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
D:\software\Anaconda3\envs\mimic\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [21]:
X_clean

LEVEL2                                 alanine aminotransferase        \
Aggregation Function                                       mask  mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             1.0  25.0
                              1                             0.0  25.0
                              2                             0.0  25.0
                              3                             0.0  25.0
                              4                             0.0  25.0
                              5                             0.0  25.0
                              6                             0.0  25.0
                              7                             0.0  25.0
                              8                             0.0  25.0
                              9                             0.0  25.0
                              10                            0.0  25.0
                              11                            0.0  25.0
                              12                            0.0  25.0
                              13                            0.0  25.0
                              14                            0.0  25.0
                              15                            0.0  25.0
                              16                            0.0  25.0
                              17                            0.0  25.0
                              18                            0.0  25.0
                              19                            0.0  25.0
                              20                            0.0  25.0
                              21                            0.0  25.0
                              22                            0.0  25.0
                              23                            0.0  25.0
                              24                            0.0  25.0
                              25                            0.0  25.0
                              26                            0.0  25.0
                              27                            0.0  25.0
                              28                            0.0  25.0
                              29                            0.0  25.0
...                                                         ...   ...
44         181750  291554     70                            1.0  17.0
                              71                            0.0  17.0
                              72                            0.0  17.0
                              73                            0.0  17.0
                              74                            0.0  17.0
                              75                            0.0  17.0
                              76                            0.0  17.0
                              77                            0.0  17.0
                              78                            0.0  17.0
                              79                            0.0  17.0
                              80                            0.0  17.0
                              81                            0.0  17.0
                              82                            0.0  17.0
                              83                            0.0  17.0
                              84                            0.0  17.0
                              85                            0.0  17.0
                              86                            0.0  17.0
                              87                            0.0  17.0
                              88                            0.0  17.0
                              89                            0.0  17.0
                              90                            0.0  17.0
                              91                            0.0  17.0
                              92                            0.0  17.0
                              93                            0.0  17.0
                              94                            0.0  17.0
                              95                            0.0  17.0
                              96                            0.0  17.0
                              97                            0.0  17.0
                              98                            0.0  17.0
                              99                            0.0  17.0

LEVEL2                                                     albumin            \
Aggregation Function                   time_since_measured    mask      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                        0.0     1.0  1.800000
                              1                        1.0     0.0  1.800000
                              2                        2.0     0.0  1.800000
                              3                        3.0     0.0  1.800000
                              4                        4.0     0.0  1.800000
                              5                        5.0     0.0  1.800000
                              6                        6.0     0.0  1.800000
                              7                        7.0     0.0  1.800000
                              8                        8.0     0.0  1.800000
                              9                        9.0     0.0  1.800000
                              10                      10.0     0.0  1.800000
                              11                      11.0     0.0  1.800000
                              12                      12.0     0.0  1.800000
                              13                      13.0     0.0  1.800000
                              14                      14.0     0.0  1.800000
                              15                      15.0     0.0  1.800000
                              16                      16.0     0.0  1.800000
                              17                      17.0     0.0  1.800000
                              18                      18.0     0.0  1.800000
                              19                      19.0     0.0  1.800000
                              20                      20.0     0.0  1.800000
                              21                      21.0     0.0  1.800000
                              22                      22.0     0.0  1.800000
                              23                      23.0     0.0  1.800000
                              24                      24.0     0.0  1.800000
                              25                      25.0     0.0  1.800000
                              26                      26.0     0.0  1.800000
                              27                      27.0     0.0  1.800000
                              28                      28.0     0.0  1.800000
                              29                      29.0     0.0  1.800000
...                                                    ...     ...       ...
44         181750  291554     70                       0.0     0.0  3.058824
                              71                       1.0     0.0  3.058824
                              72                       2.0     0.0  3.058824
                              73                       3.0     0.0  3.058824
                              74                       4.0     0.0  3.058824
                              75                       5.0     0.0  3.058824
                              76                       6.0     0.0  3.058824
                              77                       7.0     0.0  3.058824
                              78                       8.0     0.0  3.058824
                              79                       9.0     0.0  3.058824
                              80                      10.0     0.0  3.058824
                              81                      11.0     0.0  3.058824
                              82                      12.0     0.0  3.058824
                              83                      13.0     0.0  3.058824
                              84                      14.0     0.0  3.058824
                              85                      15.0     0.0  3.058824
                              86                      16.0     0.0  3.058824
                              87                      17.0     0.0  3.058824
                              88                      18.0     0.0  3.058824
                              89                      19.0     0.0  3.058824
                              90                      20.0     0.0  3.058824
                              91                      21.0     0.0  3.058824
                              92                      22.0     0.0  3.058824
                              93                      23.0     0.0  3.058824
                              94                      24.0     0.0  3.058824
                              95                      25.0     0.0  3.058824
                              96                      26.0     0.0  3.058824
                              97                      27.0     0.0  3.058824
                              98                      28.0     0.0  3.058824
                              99                      29.0     0.0  3.058824

LEVEL2                                                     albumin ascites  \
Aggregation Function                   time_since_measured            mask
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                        0.0             0.0
                              1                        1.0             0.0
                              2                        2.0             0.0
                              3                        3.0             0.0
                              4                        4.0             0.0
                              5                        5.0             0.0
                              6                        6.0             0.0
                              7                        7.0             0.0
                              8                        8.0             0.0
                              9                        9.0             0.0
                              10                      10.0             0.0
                              11                      11.0             0.0
                              12                      12.0             0.0
                              13                      13.0             0.0
                              14                      14.0             0.0
                              15                      15.0             0.0
                              16                      16.0             0.0
                              17                      17.0             0.0
                              18                      18.0             0.0
                              19                      19.0             0.0
                              20                      20.0             0.0
                              21                      21.0             0.0
                              22                      22.0             0.0
                              23                      23.0             0.0
                              24                      24.0             0.0
                              25                      25.0             0.0
                              26                      26.0             0.0
                              27                      27.0             0.0
                              28                      28.0             0.0
                              29                      29.0             0.0
...                                                    ...             ...
44         181750  291554     70                     168.0             0.0
                              71                     169.0             0.0
                              72                     170.0             0.0
                              73                     171.0             0.0
                              74                     172.0             0.0
                              75                     173.0             0.0
                              76                     174.0             0.0
                              77                     175.0             0.0
                              78                     176.0             0.0
                              79                     177.0             0.0
                              80                     178.0             0.0
                              81                     179.0             0.0
                              82                     180.0             0.0
                              83                     181.0             0.0
                              84                     182.0             0.0
                              85                     183.0             0.0
                              86                     184.0             0.0
                              87                     185.0             0.0
                              88                     186.0             0.0
                              89                     187.0             0.0
                              90                     188.0             0.0
                              91                     189.0             0.0
                              92                     190.0             0.0
                              93                     191.0             0.0
                              94                     192.0             0.0
                              95                     193.0             0.0
                              96                     194.0             0.0
                              97                     195.0             0.0
                              98                     196.0             0.0
                              99                     197.0             0.0

LEVEL2                                                           \
Aggregation Function                   mean time_since_measured
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         NaN               100.0
                              1         NaN               100.0
                              2         NaN               100.0
                              3         NaN               100.0
                              4         NaN               100.0
                              5         NaN               100.0
                              6         NaN               100.0
                              7         NaN               100.0
                              8         NaN               100.0
                              9         NaN               100.0
                              10        NaN               100.0
                              11        NaN               100.0
                              12        NaN               100.0
                              13        NaN               100.0
                              14        NaN               100.0
                              15        NaN               100.0
                              16        NaN               100.0
                              17        NaN               100.0
                              18        NaN               100.0
                              19        NaN               100.0
                              20        NaN               100.0
                              21        NaN               100.0
                              22        NaN               100.0
                              23        NaN               100.0
                              24        NaN               100.0
                              25        NaN               100.0
                              26        NaN               100.0
                              27        NaN               100.0
                              28        NaN               100.0
                              29        NaN               100.0
...                                     ...                 ...
44         181750  291554     70        NaN               100.0
                              71        NaN               100.0
                              72        NaN               100.0
                              73        NaN               100.0
                              74        NaN               100.0
                              75        NaN               100.0
                              76        NaN               100.0
                              77        NaN               100.0
                              78        NaN               100.0
                              79        NaN               100.0
                              80        NaN               100.0
                              81        NaN               100.0
                              82        NaN               100.0
                              83        NaN               100.0
                              84        NaN               100.0
                              85        NaN               100.0
                              86        NaN               100.0
                              87        NaN               100.0
                              88        NaN               100.0
                              89        NaN               100.0
                              90        NaN               100.0
                              91        NaN               100.0
                              92        NaN               100.0
                              93        NaN               100.0
                              94        NaN               100.0
                              95        NaN               100.0
                              96        NaN               100.0
                              97        NaN               100.0
                              98        NaN               100.0
                              99        NaN               100.0

LEVEL2                                 albumin pleural  ...  \
Aggregation Function                              mask  ...
subject_id hadm_id icustay_id hours_in                  ...
3          145834  211552     0                    0.0  ...
                              1                    0.0  ...
                              2                    0.0  ...
                              3                    0.0  ...
                              4                    0.0  ...
                              5                    0.0  ...
                              6                    0.0  ...
                              7                    0.0  ...
                              8                    0.0  ...
                              9                    0.0  ...
                              10                   0.0  ...
                              11                   0.0  ...
                              12                   0.0  ...
                              13                   0.0  ...
                              14                   0.0  ...
                              15                   0.0  ...
                              16                   0.0  ...
                              17                   0.0  ...
                              18                   0.0  ...
                              19                   0.0  ...
                              20                   0.0  ...
                              21                   0.0  ...
                              22                   0.0  ...
                              23                   0.0  ...
                              24                   0.0  ...
                              25                   0.0  ...
                              26                   0.0  ...

In [22]:
def minmax(x):# normalize
    mins = x.min()
    maxes = x.max()
    x_std = (x - mins) / (maxes - mins)
    return x_std

In [23]:
def std_time_since_measurement(x):
    idx = pd.IndexSlice
    x = np.where(x==100, 0, x)
    means = x.mean()
    stds = x.std()
    x_std = (x - means)/stds
    return x_std

In [24]:
idx = pd.IndexSlice
X_std = X_clean.copy()
X_std.loc[:,idx[:,'mean']] = X_std.loc[:,idx[:,'mean']].apply(lambda x: minmax(x))
X_std.loc[:,idx[:,'time_since_measured']] = X_std.loc[:,idx[:,'time_since_measured']].apply(lambda x: std_time_since_measurement(x))

D:\software\Anaconda3\envs\mimic\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [25]:
X_std

LEVEL2                                 alanine aminotransferase            \
Aggregation Function                                       mask      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             1.0  0.019704
                              1                             0.0  0.019704
                              2                             0.0  0.019704
                              3                             0.0  0.019704
                              4                             0.0  0.019704
                              5                             0.0  0.019704
                              6                             0.0  0.019704
                              7                             0.0  0.019704
                              8                             0.0  0.019704
                              9                             0.0  0.019704
                              10                            0.0  0.019704
                              11                            0.0  0.019704
                              12                            0.0  0.019704
                              13                            0.0  0.019704
                              14                            0.0  0.019704
                              15                            0.0  0.019704
                              16                            0.0  0.019704
                              17                            0.0  0.019704
                              18                            0.0  0.019704
                              19                            0.0  0.019704
                              20                            0.0  0.019704
                              21                            0.0  0.019704
                              22                            0.0  0.019704
                              23                            0.0  0.019704
                              24                            0.0  0.019704
                              25                            0.0  0.019704
                              26                            0.0  0.019704
                              27                            0.0  0.019704
                              28                            0.0  0.019704
                              29                            0.0  0.019704
...                                                         ...       ...
44         181750  291554     70                            1.0  0.011823
                              71                            0.0  0.011823
                              72                            0.0  0.011823
                              73                            0.0  0.011823
                              74                            0.0  0.011823
                              75                            0.0  0.011823
                              76                            0.0  0.011823
                              77                            0.0  0.011823
                              78                            0.0  0.011823
                              79                            0.0  0.011823
                              80                            0.0  0.011823
                              81                            0.0  0.011823
                              82                            0.0  0.011823
                              83                            0.0  0.011823
                              84                            0.0  0.011823
                              85                            0.0  0.011823
                              86                            0.0  0.011823
                              87                            0.0  0.011823
                              88                            0.0  0.011823
                              89                            0.0  0.011823
                              90                            0.0  0.011823
                              91                            0.0  0.011823
                              92                            0.0  0.011823
                              93                            0.0  0.011823
                              94                            0.0  0.011823
                              95                            0.0  0.011823
                              96                            0.0  0.011823
                              97                            0.0  0.011823
                              98                            0.0  0.011823
                              99                            0.0  0.011823

LEVEL2                                                     albumin            \
Aggregation Function                   time_since_measured    mask      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  -1.014724     1.0  0.000000
                              1                  -1.000048     0.0  0.000000
                              2                  -0.985372     0.0  0.000000
                              3                  -0.970696     0.0  0.000000
                              4                  -0.956020     0.0  0.000000
                              5                  -0.941344     0.0  0.000000
                              6                  -0.926668     0.0  0.000000
                              7                  -0.911992     0.0  0.000000
                              8                  -0.897316     0.0  0.000000
                              9                  -0.882640     0.0  0.000000
                              10                 -0.867964     0.0  0.000000
                              11                 -0.853288     0.0  0.000000
                              12                 -0.838612     0.0  0.000000
                              13                 -0.823936     0.0  0.000000
                              14                 -0.809260     0.0  0.000000
                              15                 -0.794584     0.0  0.000000
                              16                 -0.779908     0.0  0.000000
                              17                 -0.765232     0.0  0.000000
                              18                 -0.750556     0.0  0.000000
                              19                 -0.735880     0.0  0.000000
                              20                 -0.721204     0.0  0.000000
                              21                 -0.706528     0.0  0.000000
                              22                 -0.691852     0.0  0.000000
                              23                 -0.677176     0.0  0.000000
                              24                 -0.662500     0.0  0.000000
                              25                 -0.647824     0.0  0.000000
                              26                 -0.633148     0.0  0.000000
                              27                 -0.618472     0.0  0.000000
                              28                 -0.603797     0.0  0.000000
                              29                 -0.589121     0.0  0.000000
...                                                    ...     ...       ...
44         181750  291554     70                 -1.014724     0.0  0.406072
                              71                 -1.000048     0.0  0.406072
                              72                 -0.985372     0.0  0.406072
                              73                 -0.970696     0.0  0.406072
                              74                 -0.956020     0.0  0.406072
                              75                 -0.941344     0.0  0.406072
                              76                 -0.926668     0.0  0.406072
                              77                 -0.911992     0.0  0.406072
                              78                 -0.897316     0.0  0.406072
                              79                 -0.882640     0.0  0.406072
                              80                 -0.867964     0.0  0.406072
                              81                 -0.853288     0.0  0.406072
                              82                 -0.838612     0.0  0.406072
                              83                 -0.823936     0.0  0.406072
                              84                 -0.809260     0.0  0.406072
                              85                 -0.794584     0.0  0.406072
                              86                 -0.779908     0.0  0.406072
                              87                 -0.765232     0.0  0.406072
                              88                 -0.750556     0.0  0.406072
                              89                 -0.735880     0.0  0.406072
                              90                 -0.721204     0.0  0.406072
                              91                 -0.706528     0.0  0.406072
                              92                 -0.691852     0.0  0.406072
                              93                 -0.677176     0.0  0.406072
                              94                 -0.662500     0.0  0.406072
                              95                 -0.647824     0.0  0.406072
                              96                 -0.633148     0.0  0.406072
                              97                 -0.618472     0.0  0.406072
                              98                 -0.603797     0.0  0.406072
                              99                 -0.589121     0.0  0.406072

LEVEL2                                                     albumin ascites  \
Aggregation Function                   time_since_measured            mask
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  -1.191095             0.0
                              1                  -1.178426             0.0
                              2                  -1.165758             0.0
                              3                  -1.153089             0.0
                              4                  -1.140421             0.0
                              5                  -1.127752             0.0
                              6                  -1.115083             0.0
                              7                  -1.102415             0.0
                              8                  -1.089746             0.0
                              9                  -1.077077             0.0
                              10                 -1.064409             0.0
                              11                 -1.051740             0.0
                              12                 -1.039071             0.0
                              13                 -1.026403             0.0
                              14                 -1.013734             0.0
                              15                 -1.001066             0.0
                              16                 -0.988397             0.0
                              17                 -0.975728             0.0
                              18                 -0.963060             0.0
                              19                 -0.950391             0.0
                              20                 -0.937722             0.0
                              21                 -0.925054             0.0
                              22                 -0.912385             0.0
                              23                 -0.899717             0.0
                              24                 -0.887048             0.0
                              25                 -0.874379             0.0
                              26                 -0.861711             0.0
                              27                 -0.849042             0.0
                              28                 -0.836373             0.0
                              29                 -0.823705             0.0
...                                                    ...             ...
44         181750  291554     70                  0.937235             0.0
                              71                  0.949904             0.0
                              72                  0.962572             0.0
                              73                  0.975241             0.0
                              74                  0.987909             0.0
                              75                  1.000578             0.0
                              76                  1.013247             0.0
                              77                  1.025915             0.0
                              78                  1.038584             0.0
                              79                  1.051253             0.0
                              80                  1.063921             0.0
                              81                  1.076590             0.0
                              82                  1.089259             0.0
                              83                  1.101927             0.0
                              84                  1.114596             0.0
                              85                  1.127264             0.0
                              86                  1.139933             0.0
                              87                  1.152602             0.0
                              88                  1.165270             0.0
                              89                  1.177939             0.0
                              90                  1.190608             0.0
                              91                  1.203276             0.0
                              92                  1.215945             0.0
                              93                  1.228613             0.0
                              94                  1.241282             0.0
                              95                  1.253951             0.0
                              96                  1.266619             0.0
                              97                  1.279288             0.0
                              98                  1.291957             0.0
                              99                  1.304625             0.0

LEVEL2                                                           \
Aggregation Function                   mean time_since_measured
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         NaN                 NaN
                              1         NaN                 NaN
                              2         NaN                 NaN
                              3         NaN                 NaN
                              4         NaN                 NaN
                              5         NaN                 NaN
                              6         NaN                 NaN
                              7         NaN                 NaN
                              8         NaN                 NaN
                              9         NaN                 NaN
                              10        NaN                 NaN
                              11        NaN                 NaN
                              12        NaN                 NaN
                              13        NaN                 NaN
                              14        NaN                 NaN
                              15        NaN                 NaN
                              16        NaN                 NaN
                              17        NaN                 NaN
                              18        NaN                 NaN
                              19        NaN                 NaN
                              20        NaN                 NaN
                              21        NaN                 NaN
                              22        NaN                 NaN
                              23        NaN                 NaN
                              24        NaN                 NaN
                              25        NaN                 NaN
                              26        NaN                 NaN
                              27        NaN                 NaN
                              28        NaN                 NaN
                              29        NaN                 NaN
...                                     ...                 ...
44         181750  291554     70        NaN                 NaN
                              71        NaN                 NaN
                              72        NaN                 NaN
                              73        NaN                 NaN
                              74        NaN                 NaN
                              75        NaN                 NaN
                              76        NaN                 NaN
                              77        NaN                 NaN
                              78        NaN                 NaN
                              79        NaN                 NaN
                              80        NaN                 NaN
                              81        NaN                 NaN
                              82        NaN                 NaN
                              83        NaN                 NaN
                              84        NaN                 NaN
                              85        NaN                 NaN
                              86        NaN                 NaN
                              87        NaN                 NaN
                              88        NaN                 NaN
                              89        NaN                 NaN
                              90        NaN                 NaN
                              91        NaN                 NaN
                              92        NaN                 NaN
                              93        NaN                 NaN
                              94        NaN                 NaN
                              95        NaN                 NaN
                              96        NaN                 NaN
                              97        NaN                 NaN
                              98        NaN                 NaN
                              99        NaN                 NaN

LEVEL2                                 albumin pleural  ...  \
Aggregation Function                              mask  ...
subject_id hadm_id icustay_id hours_in                  ...
3          145834  211552     0                    0.0  ...
                              1                    0.0  ...
                              2                    0.0  ...
                              3                    0.0  ...
                              4                    0.0  ...
                              5                    0.0  ...
                              6                    0.0  ...
                              7                    0.0  ...
                              8                    0.0  ...
                              9                    0.0  ...
                              10                   0.0  ...
                              11                   0.0  ...
                              12                   0.0  ...
                              13                   0.0  ...
                              14                   0.0  ...
                              15                   0.0  ...
                              16                   0.0  ...
                              17                   0.0  ...
                              18                   0.0  ...
                              19                   0.0  ...
                              20                   0.0  ...
                              21                   0.0  ...

In [26]:
X_std.columns = X_std.columns.droplevel(-1)

In [27]:
del X

In [28]:
X_std

LEVEL2                                  alanine aminotransferase  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                              1.0
                              1                              0.0
                              2                              0.0
                              3                              0.0
                              4                              0.0
                              5                              0.0
                              6                              0.0
                              7                              0.0
                              8                              0.0
                              9                              0.0
                              10                             0.0
                              11                             0.0
                              12                             0.0
                              13                             0.0
                              14                             0.0
                              15                             0.0
                              16                             0.0
                              17                             0.0
                              18                             0.0
                              19                             0.0
                              20                             0.0
                              21                             0.0
                              22                             0.0
                              23                             0.0
                              24                             0.0
                              25                             0.0
                              26                             0.0
                              27                             0.0
                              28                             0.0
                              29                             0.0
...                                                          ...
44         181750  291554     70                             1.0
                              71                             0.0
                              72                             0.0
                              73                             0.0
                              74                             0.0
                              75                             0.0
                              76                             0.0
                              77                             0.0
                              78                             0.0
                              79                             0.0
                              80                             0.0
                              81                             0.0
                              82                             0.0
                              83                             0.0
                              84                             0.0
                              85                             0.0
                              86                             0.0
                              87                             0.0
                              88                             0.0
                              89                             0.0
                              90                             0.0
                              91                             0.0
                              92                             0.0
                              93                             0.0
                              94                             0.0
                              95                             0.0
                              96                             0.0
                              97                             0.0
                              98                             0.0
                              99                             0.0

LEVEL2                                  alanine aminotransferase  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                         0.019704
                              1                         0.019704
                              2                         0.019704
                              3                         0.019704
                              4                         0.019704
                              5                         0.019704
                              6                         0.019704
                              7                         0.019704
                              8                         0.019704
                              9                         0.019704
                              10                        0.019704
                              11                        0.019704
                              12                        0.019704
                              13                        0.019704
                              14                        0.019704
                              15                        0.019704
                              16                        0.019704
                              17                        0.019704
                              18                        0.019704
                              19                        0.019704
                              20                        0.019704
                              21                        0.019704
                              22                        0.019704
                              23                        0.019704
                              24                        0.019704
                              25                        0.019704
                              26                        0.019704
                              27                        0.019704
                              28                        0.019704
                              29                        0.019704
...                                                          ...
44         181750  291554     70                        0.011823
                              71                        0.011823
                              72                        0.011823
                              73                        0.011823
                              74                        0.011823
                              75                        0.011823
                              76                        0.011823
                              77                        0.011823
                              78                        0.011823
                              79                        0.011823
                              80                        0.011823
                              81                        0.011823
                              82                        0.011823
                              83                        0.011823
                              84                        0.011823
                              85                        0.011823
                              86                        0.011823
                              87                        0.011823
                              88                        0.011823
                              89                        0.011823
                              90                        0.011823
                              91                        0.011823
                              92                        0.011823
                              93                        0.011823
                              94                        0.011823
                              95                        0.011823
                              96                        0.011823
                              97                        0.011823
                              98                        0.011823
                              99                        0.011823

LEVEL2                                  alanine aminotransferase  albumin  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                        -1.014724      1.0
                              1                        -1.000048      0.0
                              2                        -0.985372      0.0
                              3                        -0.970696      0.0
                              4                        -0.956020      0.0
                              5                        -0.941344      0.0
                              6                        -0.926668      0.0
                              7                        -0.911992      0.0
                              8                        -0.897316      0.0
                              9                        -0.882640      0.0
                              10                       -0.867964      0.0
                              11                       -0.853288      0.0
                              12                       -0.838612      0.0
                              13                       -0.823936      0.0
                              14                       -0.809260      0.0
                              15                       -0.794584      0.0
                              16                       -0.779908      0.0
                              17                       -0.765232      0.0
                              18                       -0.750556      0.0
                              19                       -0.735880      0.0
                              20                       -0.721204      0.0
                              21                       -0.706528      0.0
                              22                       -0.691852      0.0
                              23                       -0.677176      0.0
                              24                       -0.662500      0.0
                              25                       -0.647824      0.0
                              26                       -0.633148      0.0
                              27                       -0.618472      0.0
                              28                       -0.603797      0.0
                              29                       -0.589121      0.0
...                                                          ...      ...
44         181750  291554     70                       -1.014724      0.0
                              71                       -1.000048      0.0
                              72                       -0.985372      0.0
                              73                       -0.970696      0.0
                              74                       -0.956020      0.0
                              75                       -0.941344      0.0
                              76                       -0.926668      0.0
                              77                       -0.911992      0.0
                              78                       -0.897316      0.0
                              79                       -0.882640      0.0
                              80                       -0.867964      0.0
                              81                       -0.853288      0.0
                              82                       -0.838612      0.0
                              83                       -0.823936      0.0
                              84                       -0.809260      0.0
                              85                       -0.794584      0.0
                              86                       -0.779908      0.0
                              87                       -0.765232      0.0
                              88                       -0.750556      0.0
                              89                       -0.735880      0.0
                              90                       -0.721204      0.0
                              91                       -0.706528      0.0
                              92                       -0.691852      0.0
                              93                       -0.677176      0.0
                              94                       -0.662500      0.0
                              95                       -0.647824      0.0
                              96                       -0.633148      0.0
                              97                       -0.618472      0.0
                              98                       -0.603797      0.0
                              99                       -0.589121      0.0

LEVEL2                                   albumin   albumin  albumin ascites  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         0.000000 -1.191095              0.0
                              1         0.000000 -1.178426              0.0
                              2         0.000000 -1.165758              0.0
                              3         0.000000 -1.153089              0.0
                              4         0.000000 -1.140421              0.0
                              5         0.000000 -1.127752              0.0
                              6         0.000000 -1.115083              0.0
                              7         0.000000 -1.102415              0.0
                              8         0.000000 -1.089746              0.0
                              9         0.000000 -1.077077              0.0
                              10        0.000000 -1.064409              0.0
                              11        0.000000 -1.051740              0.0
                              12        0.000000 -1.039071              0.0
                              13        0.000000 -1.026403              0.0
                              14        0.000000 -1.013734              0.0
                              15        0.000000 -1.001066              0.0
                              16        0.000000 -0.988397              0.0
                              17        0.000000 -0.975728              0.0
                              18        0.000000 -0.963060              0.0
                              19        0.000000 -0.950391              0.0
                              20        0.000000 -0.937722              0.0
                              21        0.000000 -0.925054              0.0
                              22        0.000000 -0.912385              0.0
                              23        0.000000 -0.899717              0.0
                              24        0.000000 -0.887048              0.0
                              25        0.000000 -0.874379              0.0
                              26        0.000000 -0.861711              0.0
                              27        0.000000 -0.849042              0.0
                              28        0.000000 -0.836373              0.0
                              29        0.000000 -0.823705              0.0
...                                          ...       ...              ...
44         181750  291554     70        0.406072  0.937235              0.0
                              71        0.406072  0.949904              0.0
                              72        0.406072  0.962572              0.0
                              73        0.406072  0.975241              0.0
                              74        0.406072  0.987909              0.0
                              75        0.406072  1.000578              0.0
                              76        0.406072  1.013247              0.0
                              77        0.406072  1.025915              0.0
                              78        0.406072  1.038584              0.0
                              79        0.406072  1.051253              0.0
                              80        0.406072  1.063921              0.0
                              81        0.406072  1.076590              0.0
                              82        0.406072  1.089259              0.0
                              83        0.406072  1.101927              0.0
                              84        0.406072  1.114596              0.0
                              85        0.406072  1.127264              0.0
                              86        0.406072  1.139933              0.0
                              87        0.406072  1.152602              0.0
                              88        0.406072  1.165270              0.0
                              89        0.406072  1.177939              0.0
                              90        0.406072  1.190608              0.0
                              91        0.406072  1.203276              0.0
                              92        0.406072  1.215945              0.0
                              93        0.406072  1.228613              0.0
                              94        0.406072  1.241282              0.0
                              95        0.406072  1.253951              0.0
                              96        0.406072  1.266619              0.0
                              97        0.406072  1.279288              0.0
                              98        0.406072  1.291957              0.0
                              99        0.406072  1.304625              0.0

LEVEL2                                  albumin ascites  albumin ascites  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     NaN              NaN
                              1                     NaN              NaN
                              2                     NaN              NaN
                              3                     NaN              NaN
                              4                     NaN              NaN
                              5                     NaN              NaN
                              6                     NaN              NaN
                              7                     NaN              NaN
                              8                     NaN              NaN
                              9                     NaN              NaN
                              10                    NaN              NaN
                              11                    NaN              NaN
                              12                    NaN              NaN
                              13                    NaN              NaN
                              14                    NaN              NaN
                              15                    NaN              NaN
                              16                    NaN              NaN
                              17                    NaN              NaN
                              18                    NaN              NaN
                              19                    NaN              NaN
                              20                    NaN              NaN
                              21                    NaN              NaN
                              22                    NaN              NaN
                              23                    NaN              NaN
                              24                    NaN              NaN
                              25                    NaN              NaN
                              26                    NaN              NaN
                              27                    NaN              NaN
                              28                    NaN              NaN
                              29                    NaN              NaN
...                                                 ...              ...
44         181750  291554     70                    NaN              NaN

## Categorization of Static Features

In [29]:
def categorize_age(age):
    if age > 10 and age <= 30: 
        cat = 1
    elif age > 30 and age <= 50:
        cat = 2
    elif age > 50 and age <= 70:
        cat = 3
    else: 
        cat = 4
    return cat

def categorize_ethnicity(ethnicity):
    if 'AMERICAN INDIAN' in ethnicity:
        ethnicity = 'AMERICAN INDIAN'
    elif 'ASIAN' in ethnicity:
        ethnicity = 'ASIAN'
    elif 'WHITE' in ethnicity:
        ethnicity = 'WHITE'
    elif 'HISPANIC' in ethnicity:
        ethnicity = 'HISPANIC/LATINO'
    elif 'BLACK' in ethnicity:
        ethnicity = 'BLACK'
    else: 
        ethnicity = 'OTHER'
    return ethnicity

In [30]:
# use gender, first_careunit, age and ethnicity for prediction
static_to_keep = static[['gender', 'age', 'ethnicity', 'first_careunit', 'intime']]

In [31]:
static_to_keep

,,,gender,age,ethnicity,first_careunit,intime
subject_id,hadm_id,icustay_id,,,,,
3,145834,211552,M,76.526792,WHITE,MICU,2101-10-20 19:10:11
4,185777,294638,F,47.845047,WHITE,MICU,2191-03-16 00:29:31
6,107064,228232,F,65.942297,WHITE,SICU,2175-05-30 21:30:54
9,150750,220597,M,41.790228,UNKNOWN/NOT SPECIFIED,MICU,2149-11-09 13:07:02
11,194540,229441,F,50.148295,WHITE,SICU,2178-04-16 06:19:32
12,112213,232669,M,72.374177,WHITE,SICU,2104-08-08 02:08:17
13,143045,263738,F,39.866118,WHITE,CCU,2167-01-08 18:44:25
17,194023,277042,F,47.455336,WHITE,CSRU,2134-12-27 16:21:48
18,188822,298129,M,50.841559,WHITE,CCU,2167-10-02 11:20:39
19,109235,273430,M,300.002970,WHITE,TSICU,2108-08-05 16:26:09
20,157681,264490,F,75.877433,WHITE,CSRU,2183-04-28 15:00:36
21,109451,217847,M,87.440295,WHITE,CCU,2134-09-11 20:50:04
22,165315,204798,F,64.928236,WHITE,MICU,2196-04-09 12:27:00
23,152223,227807,M,71.132022,WHITE,CSRU,2153-09-03 09:38:55
24,161859,262236,M,39.017083,WHITE,CCU,2139-06-06 16:15:36
25,129635,203487,M,58.950330,WHITE,CCU,2160-11-02 03:16:23
26,197661,244882,M,72.008179,UNKNOWN/NOT SPECIFIED,CCU,2126-05-07 09:52:30
28,162569,225559,M,74.384648,WHITE,CSRU,2177-09-01 09:32:26
30,104557,225176,M,300.003080,UNKNOWN/NOT SPECIFIED,CCU,2172-10-14 17:24:00
31,128652,254478,M,72.267095,WHITE,MICU,2108-08-22 23:28:42
32,175413,295037,M,45.514431,WHITE,TSICU,2170-04-04 18:46:00
33,176176,296681,M,82.394519,UNKNOWN/NOT SPECIFIED,MICU,2116-12-23 22:31:53
34,115799,263086,M,300.003169,WHITE,MICU,2186-07-18 18:10:49
35,166707,282039,F,69.442733,WHITE,CSRU,2122-02-10 09:39:59
36,182104,280987,M,69.711142,WHITE,CSRU,2131-05-04 10:29:14
37,188670,213503,M,68.933751,WHITE,MICU,2183-08-23 12:01:45
41,101757,261027,M,56.642648,WHITE,SICU,2133-01-03 06:34:40
42,119203,210828,M,61.167093,UNKNOWN/NOT SPECIFIED,CCU,2116-04-26 18:59:35
43,146828,225852,M,32.769971,WHITE,TSICU,2186-10-01 23:16:40
44,181750,291554,M,80.186415,UNKNOWN/NOT SPECIFIED,CSRU,2192-11-20 10:42:55
...,...,...,...,...,...,...,...
1522,109569,253156,M,49.352866,WHITE,CSRU,2103-11-03 17:45:00
1524,164922,223387,F,47.900585,WHITE,CSRU,2162-09-16 07:19:37
1526,145293,244371,F,74.908822,WHITE,MICU,2146-03-30 20:21:00
1527,154838,268049,M,53.927271,WHITE,CSRU,2171-04-29 12:06:14
1528,166326,236434,M,81.877445,WHITE,MICU,2117-10-08 01:57:53
1530,178017,261787,M,57.900065,WHITE,CSRU,2198-08-17 12:51:01
1531,185858,251841,M,77.588932,BLACK/AFRICAN AMERICAN,CCU,2165-04-30 17:41:01
1532,139270,200856,F,300.003806,WHITE,MICU,2199-05-30 23:45:41
1533,174474,225787,F,59.404356,WHITE,MICU,2179-03-29 23:10:59
1534,100940,236909,M,62.486494,UNKNOWN/NOT SPECIFIED,CSRU,2101-04-11 16:36:23
1535,194346,209128,F,53.114392,BLACK/AFRICAN AMERICAN,MICU,2172-07-21 14:33:46
1539,158958,207733,F,70.932723,WHITE,TSICU,2199-02-22 14:37:59
1540,155092,298132,F,36.808415,UNKNOWN/NOT SPECIFIED,SICU,2124-10-23 23:30:00
1541,100705,291682,M,82.021823,WHITE,TSICU,2104-08-15 19:33:17
1542,166027,219156,M,57.619020,BLACK/AFRICAN AMERICAN,MICU,2156-08-24 21:15:54
1543,151816,258479,M,61.350616,WHITE,SICU,2115-01-10 19:43:16
1544,183449,286967,M,45.166859,WHITE,SICU,2161-01-29 20:01:01
1546,124228,250268,M,80.300509,HISPANIC OR LATINO,CCU,2103-12-07 02:50:35
1550,157006,278352,M,58.199611,UNKNOWN/NOT SPECIFIED,MICU,2194-12-08 22:37:00
1551,131207,295414,F,37.610872,WHITE,MICU,2122-10-19 01:41:00
1552,170777,227400,F,50.246036,BLACK/AFRICAN AMERICAN,MICU,2195-01-30 23:06:00
1554,118852,234573,M,45.191873,WHITE,MICU,2139-07-21 23:17:00
1555,174692,236967,F,60.086572,WHITE,CCU,2104-06-26 03:20:57
1556,129719,215874,F,39.802673,HISPANIC OR LATINO,MICU,2155-03-03 14:35:13
1557,191920,234920,F,72.647043,WHITE,CCU,2115-11-26 18:02:00
1559,147179,252934,M,69.834083,WHITE,CSRU,2179-06-16 08:10:00
1561,125145,278851,M,82.742414,WHITE,SICU,2188-12-09 00:06:58
1565,152881,203126,F,63.064055,WHITE,SICU,2123-11-21 15:23:43
1566,132745,237221,M,62.822416,UNKNOWN/NOT SPECIFIED,CCU,2152-08-07 09:14:00
1568,185964,263796,M,20.848805,WHITE,MICU,2189-10-31 20:37:11

In [32]:
static_to_keep.loc[:, 'intime'] = static_to_keep['intime'].astype('datetime64').apply(lambda x : x.hour)
static_to_keep

,,,gender,age,ethnicity,first_careunit,intime
subject_id,hadm_id,icustay_id,,,,,
3,145834,211552,M,76.526792,WHITE,MICU,19
4,185777,294638,F,47.845047,WHITE,MICU,0
6,107064,228232,F,65.942297,WHITE,SICU,21
9,150750,220597,M,41.790228,UNKNOWN/NOT SPECIFIED,MICU,13
11,194540,229441,F,50.148295,WHITE,SICU,6
12,112213,232669,M,72.374177,WHITE,SICU,2
13,143045,263738,F,39.866118,WHITE,CCU,18
17,194023,277042,F,47.455336,WHITE,CSRU,16
18,188822,298129,M,50.841559,WHITE,CCU,11
19,109235,273430,M,300.002970,WHITE,TSICU,16
20,157681,264490,F,75.877433,WHITE,CSRU,15
21,109451,217847,M,87.440295,WHITE,CCU,20
22,165315,204798,F,64.928236,WHITE,MICU,12
23,152223,227807,M,71.132022,WHITE,CSRU,9
24,161859,262236,M,39.017083,WHITE,CCU,16
25,129635,203487,M,58.950330,WHITE,CCU,3
26,197661,244882,M,72.008179,UNKNOWN/NOT SPECIFIED,CCU,9
28,162569,225559,M,74.384648,WHITE,CSRU,9
30,104557,225176,M,300.003080,UNKNOWN/NOT SPECIFIED,CCU,17
31,128652,254478,M,72.267095,WHITE,MICU,23
32,175413,295037,M,45.514431,WHITE,TSICU,18
33,176176,296681,M,82.394519,UNKNOWN/NOT SPECIFIED,MICU,22
34,115799,263086,M,300.003169,WHITE,MICU,18
35,166707,282039,F,69.442733,WHITE,CSRU,9
36,182104,280987,M,69.711142,WHITE,CSRU,10
37,188670,213503,M,68.933751,WHITE,MICU,12
41,101757,261027,M,56.642648,WHITE,SICU,6
42,119203,210828,M,61.167093,UNKNOWN/NOT SPECIFIED,CCU,18
43,146828,225852,M,32.769971,WHITE,TSICU,23
44,181750,291554,M,80.186415,UNKNOWN/NOT SPECIFIED,CSRU,10
...,...,...,...,...,...,...,...
1522,109569,253156,M,49.352866,WHITE,CSRU,17
1524,164922,223387,F,47.900585,WHITE,CSRU,7
1526,145293,244371,F,74.908822,WHITE,MICU,20
1527,154838,268049,M,53.927271,WHITE,CSRU,12
1528,166326,236434,M,81.877445,WHITE,MICU,1
1530,178017,261787,M,57.900065,WHITE,CSRU,12
1531,185858,251841,M,77.588932,BLACK/AFRICAN AMERICAN,CCU,17
1532,139270,200856,F,300.003806,WHITE,MICU,23
1533,174474,225787,F,59.404356,WHITE,MICU,23
1534,100940,236909,M,62.486494,UNKNOWN/NOT SPECIFIED,CSRU,16
1535,194346,209128,F,53.114392,BLACK/AFRICAN AMERICAN,MICU,14
1539,158958,207733,F,70.932723,WHITE,TSICU,14
1540,155092,298132,F,36.808415,UNKNOWN/NOT SPECIFIED,SICU,23
1541,100705,291682,M,82.021823,WHITE,TSICU,19
1542,166027,219156,M,57.619020,BLACK/AFRICAN AMERICAN,MICU,21
1543,151816,258479,M,61.350616,WHITE,SICU,19
1544,183449,286967,M,45.166859,WHITE,SICU,20
1546,124228,250268,M,80.300509,HISPANIC OR LATINO,CCU,2
1550,157006,278352,M,58.199611,UNKNOWN/NOT SPECIFIED,MICU,22
1551,131207,295414,F,37.610872,WHITE,MICU,1
1552,170777,227400,F,50.246036,BLACK/AFRICAN AMERICAN,MICU,23
1554,118852,234573,M,45.191873,WHITE,MICU,23
1555,174692,236967,F,60.086572,WHITE,CCU,3
1556,129719,215874,F,39.802673,HISPANIC OR LATINO,MICU,14
1557,191920,234920,F,72.647043,WHITE,CCU,18
1559,147179,252934,M,69.834083,WHITE,CSRU,8
1561,125145,278851,M,82.742414,WHITE,SICU,0
1565,152881,203126,F,63.064055,WHITE,SICU,15
1566,132745,237221,M,62.822416,UNKNOWN/NOT SPECIFIED,CCU,9
1568,185964,263796,M,20.848805,WHITE,MICU,20

In [33]:
static_to_keep.loc[:, 'age'] = static_to_keep['age'].apply(categorize_age)
static_to_keep.loc[:, 'ethnicity'] = static_to_keep['ethnicity'].apply(categorize_ethnicity)
static_to_keep = pd.get_dummies(static_to_keep, columns = ['gender', 'age', 'ethnicity', 'first_careunit'])
static_to_keep

,,,intime,gender_F,gender_M,age_1,age_2,age_3,age_4,ethnicity_AMERICAN INDIAN,ethnicity_ASIAN,ethnicity_BLACK,ethnicity_HISPANIC/LATINO,ethnicity_OTHER,ethnicity_WHITE,first_careunit_CCU,first_careunit_CSRU,first_careunit_MICU,first_careunit_SICU,first_careunit_TSICU
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,
3,145834,211552,19,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
4,185777,294638,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
6,107064,228232,21,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
9,150750,220597,13,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0
11,194540,229441,6,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
12,112213,232669,2,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
13,143045,263738,18,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0
17,194023,277042,16,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
18,188822,298129,11,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
19,109235,273430,16,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
20,157681,264490,15,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
21,109451,217847,20,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0
22,165315,204798,12,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
23,152223,227807,9,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
24,161859,262236,16,0,1,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0
25,129635,203487,3,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
26,197661,244882,9,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0
28,162569,225559,9,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
30,104557,225176,17,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0
31,128652,254478,23,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
32,175413,295037,18,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
33,176176,296681,22,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
34,115799,263086,18,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
35,166707,282039,9,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
36,182104,280987,10,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
37,188670,213503,12,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
41,101757,261027,6,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
42,119203,210828,18,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0
43,146828,225852,23,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1
44,181750,291554,10,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,109569,253156,17,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
1524,164922,223387,7,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
1526,145293,244371,20,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1527,154838,268049,12,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
1528,166326,236434,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1530,178017,261787,12,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
1531,185858,251841,17,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0
1532,139270,200856,23,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
1533,174474,225787,23,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
1534,100940,236909,16,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0
1535,194346,209128,14,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
1539,158958,207733,14,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
1540,155092,298132,23,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0
1541,100705,291682,19,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
1542,166027,219156,21,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
1543,151816,258479,19,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
1544,183449,286967,20,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
1546,124228,250268,2,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0
1550,157006,278352,22,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
1551,131207,295414,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
1552,170777,227400,23,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
1554,118852,234573,23,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
1555,174692,236967,3,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
1556,129719,215874,14,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
1557,191920,234920,18,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0
1559,147179,252934,8,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
1561,125145,278851,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
1565,152881,203126,15,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
1566,132745,237221,9,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0
1568,185964,263796,20,0,1,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0

In [17]:
# # use gender, first_careunit, age and ethnicity for prediction
# static_to_keep = static[['gender', 'age', 'ethnicity', 'first_careunit', 'intime']]
# static_to_keep.loc[:, 'intime'] = static_to_keep['intime'].astype('datetime64').apply(lambda x : x.hour)
# static_to_keep.loc[:, 'age'] = static_to_keep['age'].apply(categorize_age)
# static_to_keep.loc[:, 'ethnicity'] = static_to_keep['ethnicity'].apply(categorize_ethnicity)
# static_to_keep = pd.get_dummies(static_to_keep, columns = ['gender', 'age', 'ethnicity', 'first_careunit'])

## Create Feature Matrix

In [34]:
X_merge = pd.merge(X_std.reset_index(), static_to_keep.reset_index(), on=['subject_id','icustay_id','hadm_id'])
X_merge

,subject_id,hadm_id,icustay_id,hours_in,alanine aminotransferase,alanine aminotransferase,alanine aminotransferase,albumin,albumin,albumin,...,ethnicity_ASIAN,ethnicity_BLACK,ethnicity_HISPANIC/LATINO,ethnicity_OTHER,ethnicity_WHITE,first_careunit_CCU,first_careunit_CSRU,first_careunit_MICU,first_careunit_SICU,first_careunit_TSICU
0,3,145834,211552,0,1.0,0.019704,-1.014724,1.0,0.000000,-1.191095,...,0,0,0,0,1,0,0,1,0,0
1,3,145834,211552,1,0.0,0.019704,-1.000048,0.0,0.000000,-1.178426,...,0,0,0,0,1,0,0,1,0,0
2,3,145834,211552,2,0.0,0.019704,-0.985372,0.0,0.000000,-1.165758,...,0,0,0,0,1,0,0,1,0,0
3,3,145834,211552,3,0.0,0.019704,-0.970696,0.0,0.000000,-1.153089,...,0,0,0,0,1,0,0,1,0,0
4,3,145834,211552,4,0.0,0.019704,-0.956020,0.0,0.000000,-1.140421,...,0,0,0,0,1,0,0,1,0,0
5,3,145834,211552,5,0.0,0.019704,-0.941344,0.0,0.000000,-1.127752,...,0,0,0,0,1,0,0,1,0,0
6,3,145834,211552,6,0.0,0.019704,-0.926668,0.0,0.000000,-1.115083,...,0,0,0,0,1,0,0,1,0,0
7,3,145834,211552,7,0.0,0.019704,-0.911992,0.0,0.000000,-1.102415,...,0,0,0,0,1,0,0,1,0,0
8,3,145834,211552,8,0.0,0.019704,-0.897316,0.0,0.000000,-1.089746,...,0,0,0,0,1,0,0,1,0,0
9,3,145834,211552,9,0.0,0.019704,-0.882640,0.0,0.000000,-1.077077,...,0,0,0,0,1,0,0,1,0,0
10,3,145834,211552,10,0.0,0.019704,-0.867964,0.0,0.000000,-1.064409,...,0,0,0,0,1,0,0,1,0,0
11,3,145834,211552,11,0.0,0.019704,-0.853288,0.0,0.000000,-1.051740,...,0,0,0,0,1,0,0,1,0,0
12,3,145834,211552,12,0.0,0.019704,-0.838612,0.0,0.000000,-1.039071,...,0,0,0,0,1,0,0,1,0,0
13,3,145834,211552,13,0.0,0.019704,-0.823936,0.0,0.000000,-1.026403,...,0,0,0,0,1,0,0,1,0,0
14,3,145834,211552,14,0.0,0.019704,-0.809260,0.0,0.000000,-1.013734,...,0,0,0,0,1,0,0,1,0,0
15,3,145834,211552,15,0.0,0.019704,-0.794584,0.0,0.000000,-1.001066,...,0,0,0,0,1,0,0,1,0,0
16,3,145834,211552,16,0.0,0.019704,-0.779908,0.0,0.000000,-0.988397,...,0,0,0,0,1,0,0,1,0,0
17,3,145834,211552,17,0.0,0.019704,-0.765232,0.0,0.000000,-0.975728,...,0,0,0,0,1,0,0,1,0,0
18,3,145834,211552,18,0.0,0.019704,-0.750556,0.0,0.000000,-0.963060,...,0,0,0,0,1,0,0,1,0,0
19,3,145834,211552,19,0.0,0.019704,-0.735880,0.0,0.000000,-0.950391,...,0,0,0,0,1,0,0,1,0,0
20,3,145834,211552,20,0.0,0.019704,-0.721204,0.0,0.000000,-0.937722,...,0,0,0,0,1,0,0,1,0,0
21,3,145834,211552,21,0.0,0.019704,-0.706528,0.0,0.000000,-0.925054,...,0,0,0,0,1,0,0,1,0,0
22,3,145834,211552,22,0.0,0.019704,-0.691852,0.0,0.000000,-0.912385,...,0,0,0,0,1,0,0,1,0,0
23,3,145834,211552,23,0.0,0.019704,-0.677176,0.0,0.000000,-0.899717,...,0,0,0,0,1,0,0,1,0,0
24,3,145834,211552,24,0.0,0.019704,-0.662500,0.0,0.000000,-0.887048,...,0,0,0,0,1,0,0,1,0,0
25,3,145834,211552,25,0.0,0.019704,-0.647824,0.0,0.000000,-0.874379,...,0,0,0,0,1,0,0,1,0,0
26,3,145834,211552,26,0.0,0.019704,-0.633148,0.0,0.000000,-0.861711,...,0,0,0,0,1,0,0,1,0,0
27,3,145834,211552,27,0.0,0.019704,-0.618472,0.0,0.000000,-0.849042,...,0,0,0,0,1,0,0,1,0,0
28,3,145834,211552,28,0.0,0.019704,-0.603797,0.0,0.000000,-0.836373,...,0,0,0,0,1,0,0,1,0,0
29,3,145834,211552,29,0.0,0.019704,-0.589121,0.0,0.000000,-0.823705,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,44,181750,291554,70,1.0,0.011823,-1.014724,0.0,0.406072,0.937235,...,0,0,0,1,0,0,1,0,0,0
2206,44,181750,291554,71,0.0,0.011823,-1.000048,0.0,0.406072,0.949904,...,0,0,0,1,0,0,1,0,0,0
2207,44,181750,291554,72,0.0,0.011823,-0.985372,0.0,0.406072,0.962572,...,0,0,0,1,0,0,1,0,0,0
2208,44,181750,291554,73,0.0,0.011823,-0.970696,0.0,0.406072,0.975241,...,0,0,0,1,0,0,1,0,0,0
2209,44,181750,291554,74,0.0,0.011823,-0.956020,0.0,0.406072,0.987909,...,0,0,0,1,0,0,1,0,0,0
2210,44,181750,291554,75,0.0,0.011823,-0.941344,0.0,0.406072,1.000578,...,0,0,0,1,0,0,1,0,0,0
2211,44,181750,291554,76,0.0,0.011823,-0.926668,0.0,0.406072,1.013247,...,0,0,0,1,0,0,1,0,0,0
2212,44,181750,291554,77,0.0,0.011823,-0.911992,0.0,0.406072,1.025915,...,0,0,0,1,0,0,1,0,0,0
2213,44,181750,291554,78,0.0,0.011823,-0.897316,0.0,0.406072,1.038584,...,0,0,0,1,0,0,1,0,0,0
2214,44,181750,291554,79,0.0,0.011823,-0.882640,0.0,0.406072,1.051253,...,0,0,0,1,0,0,1,0,0,0
2215,44,181750,291554,80,0.0,0.011823,-0.867964,0.0,0.406072,1.063921,...,0,0,0,1,0,0,1,0,0,0
2216,44,181750,291554,81,0.0,0.011823,-0.853288,0.0,0.406072,1.076590,...,0,0,0,1,0,0,1,0,0,0
2217,44,181750,291554,82,0.0,0.011823,-0.838612,0.0,0.406072,1.089259,...,0,0,0,1,0,0,1,0,0,0
2218,44,181750,291554,83,0.0,0.011823,-0.823936,0.0,0.406072,1.101927,...,0,0,0,1,0,0,1,0,0,0
2219,44,181750,291554,84,0.0,0.011823,-0.809260,0.0,0.406072,1.114596,...,0,0,0,1,0,0,1,0,0,0
2220,44,181750,291554,85,0.0,0.011823,-0.794584,0.0,0.406072,1.127264,...,0,0,0,1,0,0,1,0,0,0
2221,44,181750,291554,86,0.0,0.011823,-0.779908,0.0,0.406072,1.139933,...,0,0,0,1,0,0,1,0,0,0
2222,44,181750,291554,87,0.0,0.011823,-0.765232,0.0,0.406072,1.152602,...,0,0,0,1,0,0,1,0,0,0
2223,44,181750,291554,88,0.0,0.011823,-0.750556,0.0,0.406072,1.165270,...,0,0,0,1,0,0,1,0,0,0
2224,44,181750,291554,89,0.0,0.011823,-0.735880,0.0,0.406072,1.177939,...,0,0,0,1,0,0,1,0,0,0
2225,44,181750,291554,90,0.0,0.011823,-0.721204,0.0,0.406072,1.190608,...,0,0,0,1,0,0,1,0,0,0
2226,44,181750,291554,91,0.0,0.011823,-0.706528,0.0,0.406072,1.203276,...,0,0,0,1,0,0,1,0,0,0
2227,44,181750,291554,92,0.0,0.011823,-0.691852,0.0,0.406072,1.215945,...,0,0,0,1,0,0,1,0,0,0
2228,44,181750,291554,93,0.0,0.011823,-0.677176,0.0,0.406072,1.228613,...,0,0,0,1,0,0,1,0,0,0
2229,44,181750,291554,94,0.0,0.011823,-0.662500,0.0,0.406072,1.241282,...,0,0,0,1,0,0,1,0,0,0
2230,44,181750,291554,95,0.0,0.011823,-0.647824,0.0,0.406072,1.253951,...,0,0,0,1,0,0,1,0,0,0
2231,44,181750,291554,96,0.0,0.011823,-0.633148,0.0,0.406072,1.266619,...,0,0,0,1,0,0,1,0,0,0
2232,44,181750,291554,97,0.0,0.011823,-0.618472,0.0,0.406072,1.279288,...,0,0,0,1,0,0,1,0,0,0
2233,44,181750,291554,98,0.0,0.011823,-0.603797,0.0,0.406072,1.291957,...,0,0,0,1,0,0,1,0,0,0
2234,44,181750,291554,99,0.0,0.011823,-0.589121,0.0,0.406072,1.304625,...,0,0,0,1,0,0,1,0,0,0

In [35]:
abs_time = (X_merge['intime'] + X_merge['hours_in'])%24

In [36]:
X_merge.insert(4, 'absolute_time', abs_time)

In [37]:
X_merge

,subject_id,hadm_id,icustay_id,hours_in,absolute_time,alanine aminotransferase,alanine aminotransferase,alanine aminotransferase,albumin,albumin,...,ethnicity_ASIAN,ethnicity_BLACK,ethnicity_HISPANIC/LATINO,ethnicity_OTHER,ethnicity_WHITE,first_careunit_CCU,first_careunit_CSRU,first_careunit_MICU,first_careunit_SICU,first_careunit_TSICU
0,3,145834,211552,0,19,1.0,0.019704,-1.014724,1.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
1,3,145834,211552,1,20,0.0,0.019704,-1.000048,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
2,3,145834,211552,2,21,0.0,0.019704,-0.985372,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
3,3,145834,211552,3,22,0.0,0.019704,-0.970696,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
4,3,145834,211552,4,23,0.0,0.019704,-0.956020,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
5,3,145834,211552,5,0,0.0,0.019704,-0.941344,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
6,3,145834,211552,6,1,0.0,0.019704,-0.926668,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
7,3,145834,211552,7,2,0.0,0.019704,-0.911992,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
8,3,145834,211552,8,3,0.0,0.019704,-0.897316,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
9,3,145834,211552,9,4,0.0,0.019704,-0.882640,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
10,3,145834,211552,10,5,0.0,0.019704,-0.867964,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
11,3,145834,211552,11,6,0.0,0.019704,-0.853288,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
12,3,145834,211552,12,7,0.0,0.019704,-0.838612,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
13,3,145834,211552,13,8,0.0,0.019704,-0.823936,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
14,3,145834,211552,14,9,0.0,0.019704,-0.809260,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
15,3,145834,211552,15,10,0.0,0.019704,-0.794584,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
16,3,145834,211552,16,11,0.0,0.019704,-0.779908,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
17,3,145834,211552,17,12,0.0,0.019704,-0.765232,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
18,3,145834,211552,18,13,0.0,0.019704,-0.750556,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
19,3,145834,211552,19,14,0.0,0.019704,-0.735880,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
20,3,145834,211552,20,15,0.0,0.019704,-0.721204,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
21,3,145834,211552,21,16,0.0,0.019704,-0.706528,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
22,3,145834,211552,22,17,0.0,0.019704,-0.691852,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
23,3,145834,211552,23,18,0.0,0.019704,-0.677176,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
24,3,145834,211552,24,19,0.0,0.019704,-0.662500,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
25,3,145834,211552,25,20,0.0,0.019704,-0.647824,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
26,3,145834,211552,26,21,0.0,0.019704,-0.633148,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
27,3,145834,211552,27,22,0.0,0.019704,-0.618472,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
28,3,145834,211552,28,23,0.0,0.019704,-0.603797,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
29,3,145834,211552,29,0,0.0,0.019704,-0.589121,0.0,0.000000,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,44,181750,291554,70,8,1.0,0.011823,-1.014724,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2206,44,181750,291554,71,9,0.0,0.011823,-1.000048,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2207,44,181750,291554,72,10,0.0,0.011823,-0.985372,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2208,44,181750,291554,73,11,0.0,0.011823,-0.970696,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2209,44,181750,291554,74,12,0.0,0.011823,-0.956020,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2210,44,181750,291554,75,13,0.0,0.011823,-0.941344,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2211,44,181750,291554,76,14,0.0,0.011823,-0.926668,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2212,44,181750,291554,77,15,0.0,0.011823,-0.911992,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2213,44,181750,291554,78,16,0.0,0.011823,-0.897316,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2214,44,181750,291554,79,17,0.0,0.011823,-0.882640,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2215,44,181750,291554,80,18,0.0,0.011823,-0.867964,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2216,44,181750,291554,81,19,0.0,0.011823,-0.853288,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2217,44,181750,291554,82,20,0.0,0.011823,-0.838612,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2218,44,181750,291554,83,21,0.0,0.011823,-0.823936,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2219,44,181750,291554,84,22,0.0,0.011823,-0.809260,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2220,44,181750,291554,85,23,0.0,0.011823,-0.794584,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2221,44,181750,291554,86,0,0.0,0.011823,-0.779908,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2222,44,181750,291554,87,1,0.0,0.011823,-0.765232,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2223,44,181750,291554,88,2,0.0,0.011823,-0.750556,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2224,44,181750,291554,89,3,0.0,0.011823,-0.735880,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2225,44,181750,291554,90,4,0.0,0.011823,-0.721204,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2226,44,181750,291554,91,5,0.0,0.011823,-0.706528,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2227,44,181750,291554,92,6,0.0,0.011823,-0.691852,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2228,44,181750,291554,93,7,0.0,0.011823,-0.677176,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2229,44,181750,291554,94,8,0.0,0.011823,-0.662500,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2230,44,181750,291554,95,9,0.0,0.011823,-0.647824,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2231,44,181750,291554,96,10,0.0,0.011823,-0.633148,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2232,44,181750,291554,97,11,0.0,0.011823,-0.618472,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2233,44,181750,291554,98,12,0.0,0.011823,-0.603797,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0
2234,44,181750,291554,99,13,0.0,0.011823,-0.589121,0.0,0.406072,...,0,0,0,1,0,0,1,0,0,0

In [38]:
X_merge.drop('intime', axis=1, inplace=True)

In [40]:
X_merge = X_merge.set_index(['subject_id','icustay_id','hadm_id','hours_in'])

In [41]:
X_merge

                                        absolute_time  \
subject_id icustay_id hadm_id hours_in
3          211552     145834  0                    19
                              1                    20
                              2                    21
                              3                    22
                              4                    23
                              5                     0
                              6                     1
                              7                     2
                              8                     3
                              9                     4
                              10                    5
                              11                    6
                              12                    7
                              13                    8
                              14                    9
                              15                   10
                              16                   11
                              17                   12
                              18                   13
                              19                   14
                              20                   15
                              21                   16
                              22                   17
                              23                   18
                              24                   19
                              25                   20
                              26                   21
                              27                   22
                              28                   23
                              29                    0
...                                               ...
44         291554     181750  70                    8
                              71                    9
                              72                   10
                              73                   11
                              74                   12
                              75                   13
                              76                   14
                              77                   15
                              78                   16
                              79                   17
                              80                   18
                              81                   19
                              82                   20
                              83                   21
                              84                   22
                              85                   23
                              86                    0
                              87                    1
                              88                    2
                              89                    3
                              90                    4
                              91                    5
                              92                    6
                              93                    7
                              94                    8
                              95                    9
                              96                   10
                              97                   11
                              98                   12
                              99                   13

                                        alanine aminotransferase  \
subject_id icustay_id hadm_id hours_in
3          211552     145834  0                              1.0
                              1                              0.0
                              2                              0.0
                              3                              0.0
                              4                              0.0
                              5                              0.0
                              6                              0.0
                              7                              0.0
                              8                              0.0
                              9                              0.0
                              10                             0.0
                              11                             0.0
                              12                             0.0
                              13                             0.0
                              14                             0.0
                              15                             0.0
                              16                             0.0
                              17                             0.0
                              18                             0.0
                              19                             0.0
                              20                             0.0
                              21                             0.0
                              22                             0.0
                              23                             0.0
                              24                             0.0
                              25                             0.0
                              26                             0.0
                              27                             0.0
                              28                             0.0
                              29                             0.0
...                                                          ...
44         291554     181750  70                             1.0
                              71                             0.0
                              72                             0.0
                              73                             0.0
                              74                             0.0
                              75                             0.0
                              76                             0.0
                              77                             0.0
                              78                             0.0
                              79                             0.0
                              80                             0.0
                              81                             0.0
                              82                             0.0
                              83                             0.0
                              84                             0.0
                              85                             0.0
                              86                             0.0
                              87                             0.0
                              88                             0.0
                              89                             0.0
                              90                             0.0
                              91                             0.0
                              92                             0.0
                              93                             0.0
                              94                             0.0
                              95                             0.0
                              96                             0.0
                              97                             0.0
                              98                             0.0
                              99                             0.0

                                        alanine aminotransferase  \
subject_id icustay_id hadm_id hours_in
3          211552     145834  0                         0.019704
                              1                         0.019704
                              2                         0.019704
                              3                         0.019704
                              4                         0.019704
                              5                         0.019704
                              6                         0.019704
                              7                         0.019704
                              8                         0.019704
                              9                         0.019704
                              10                        0.019704
                              11                        0.019704
                              12                        0.019704
                              13                        0.019704
                              14                        0.019704
                              15                        0.019704
                              16                        0.019704
                              17                        0.019704
                              18                        0.019704
                              19                        0.019704
                              20                        0.019704
                              21                        0.019704
                              22                        0.019704
                              23                        0.019704
                              24                        0.019704
                              25                        0.019704
                              26                        0.019704
                              27                        0.019704
                              28                        0.019704
                              29                        0.019704
...                                                          ...
44         291554     181750  70                        0.011823
                              71                        0.011823
                              72                        0.011823
                              73                        0.011823
                              74                        0.011823
                              75                        0.011823
                              76                        0.011823
                              77                        0.011823
                              78                        0.011823
                              79                        0.011823
                              80                        0.011823
                              81                        0.011823
                              82                        0.011823
                              83                        0.011823
                              84                        0.011823
                              85                        0.011823
                              86                        0.011823
                              87                        0.011823
                              88                        0.011823
                              89                        0.011823
                              90                        0.011823
                              91                        0.011823
                              92                        0.011823
                              93                        0.011823
                              94                        0.011823
                              95                        0.011823
                              96                        0.011823
                              97                        0.011823
                              98                        0.011823
                              99                        0.011823

                                        alanine aminotransferase  albumin  \
subject_id icustay_id hadm_id hours_in
3          211552     145834  0                        -1.014724      1.0
                              1                        -1.000048      0.0
                              2                        -0.985372      0.0
                              3                        -0.970696      0.0
                              4                        -0.956020      0.0
                              5                        -0.941344      0.0
                              6                        -0.926668      0.0
                              7                        -0.911992      0.0
                              8                        -0.897316      0.0
                              9                        -0.882640      0.0
                              10                       -0.867964      0.0
                              11                       -0.853288      0.0
                              12                       -0.838612      0.0
                              13                       -0.823936      0.0
                              14                       -0.809260      0.0
                              15                       -0.794584      0.0
                              16                       -0.779908      0.0
                              17                       -0.765232      0.0
                              18                       -0.750556      0.0
                              19                       -0.735880      0.0
                              20                       -0.721204      0.0
                              21                       -0.706528      0.0
                              22                       -0.691852      0.0
                              23                       -0.677176      0.0
                              24                       -0.662500      0.0
                              25                       -0.647824      0.0
                              26                       -0.633148      0.0
                              27                       -0.618472      0.0
                              28                       -0.603797      0.0
                              29                       -0.589121      0.0
...                                                          ...      ...
44         291554     181750  70                       -1.014724      0.0
                              71                       -1.000048      0.0
                              72                       -0.985372      0.0
                              73                       -0.970696      0.0
                              74                       -0.956020      0.0
                              75                       -0.941344      0.0
                              76                       -0.926668      0.0
                              77                       -0.911992      0.0
                              78                       -0.897316      0.0
                              79                       -0.882640      0.0
                              80                       -0.867964      0.0
                              81                       -0.853288      0.0
                              82                       -0.838612      0.0
                              83                       -0.823936      0.0
                              84                       -0.809260      0.0
                              85                       -0.794584      0.0
                              86                       -0.779908      0.0
                              87                       -0.765232      0.0
                              88                       -0.750556      0.0
                              89                       -0.735880      0.0
                              90                       -0.721204      0.0
                              91                       -0.706528      0.0
                              92                       -0.691852      0.0
                              93                       -0.677176      0.0
                              94                       -0.662500      0.0
                              95                       -0.647824      0.0
                              96                       -0.633148      0.0
                              97                       -0.618472      0.0
                              98                       -0.603797      0.0
                              99                       -0.589121      0.0

                                         albumin   albumin  albumin ascites  \
subject_id icustay_id hadm_id hours_in
3          211552     145834  0         0.000000 -1.191095              0.0
                              1         0.000000 -1.178426              0.0
                              2         0.000000 -1.165758              0.0
                              3         0.000000 -1.153089              0.0
                              4         0.000000 -1.140421              0.0
                              5         0.000000 -1.127752              0.0
                              6         0.000000 -1.115083              0.0
                              7         0.000000 -1.102415              0.0
                              8         0.000000 -1.089746              0.0
                              9         0.000000 -1.077077              0.0
                              10        0.000000 -1.064409              0.0
                              11        0.000000 -1.051740              0.0
                              12        0.000000 -1.039071              0.0
                              13        0.000000 -1.026403              0.0
                              14        0.000000 -1.013734              0.0
                              15        0.000000 -1.001066              0.0
                              16        0.000000 -0.988397              0.0
                              17        0.000000 -0.975728              0.0
                              18        0.000000 -0.963060              0.0
                              19        0.000000 -0.950391              0.0
                              20        0.000000 -0.937722              0.0
                              21        0.000000 -0.925054              0.0
                              22        0.000000 -0.912385              0.0
                              23        0.000000 -0.899717              0.0
                              24        0.000000 -0.887048              0.0
                              25        0.000000 -0.874379              0.0
                              26        0.000000 -0.861711              0.0
                              27        0.000000 -0.849042              0.0
                              28        0.000000 -0.836373              0.0
                              29        0.000000 -0.823705              0.0
...                                          ...       ...              ...
44         291554     181750  70        0.406072  0.937235              0.0
                              71        0.406072  0.949904              0.0
                              72        0.406072  0.962572              0.0
                              73        0.406072  0.975241              0.0
                              74        0.406072  0.987909              0.0
                              75        0.406072  1.000578              0.0
                              76        0.406072  1.013247              0.0
                              77        0.406072  1.025915              0.0
                              78        0.406072  1.038584              0.0
                              79        0.406072  1.051253              0.0
                              80        0.406072  1.063921              0.0
                              81        0.406072  1.076590              0.0
                              82        0.406072  1.089259              0.0
                              83        0.406072  1.101927              0.0
                              84        0.406072  1.114596              0.0
                              85        0.406072  1.127264              0.0
                              86        0.406072  1.139933              0.0

In [18]:
# # merge time series and static data
# # X_merge = pd.merge(X_std.reset_index(), static_to_keep.reset_index(), on=['subject_id','icustay_id','hadm_id'])
# # add absolute time feature
# abs_time = (X_merge['intime'] + X_merge['hours_in'])%24
# X_merge.insert(4, 'absolute_time', abs_time)
# X_merge.drop('intime', axis=1, inplace=True)
# X_merge = X_merge.set_index(['subject_id','icustay_id','hadm_id','hours_in'])

In [42]:
del X_std, X_clean

## Make Tensors

In [55]:
def create_x_matrix(x):
    zeros = np.zeros((MAX_LEN, x.shape[1]-4))
    x = x.values
    x = x[:(MAX_LEN), 4:]
    zeros[0:x.shape[0], :] = x
    return zeros

def create_y_matrix(y):
    zeros = np.zeros((MAX_LEN, y.shape[1]-4))
    y = y.values
    y = y[:,4:]
    y = y[:MAX_LEN, :]
    zeros[:y.shape[0], :] = y
    return zeros

In [58]:
Y.loc[idx[:44],:]

                                        vent  vaso  adenosine  dobutamine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            1     0          0           0
                              1            1     1          0           0
                              2            1     1          0           0
                              3            1     1          0           0
                              4            1     1          0           0
                              5            1     1          0           0
                              6            1     1          0           0
                              7            1     1          0           0
                              8            1     1          0           0
                              9            1     1          0           0
                              10           1     1          0           0
                              11           1     1          0           0
                              12           1     1          0           0
                              13           1     1          0           0
                              14           1     1          0           0
                              15           1     1          0           0
                              16           1     1          0           0
                              17           1     1          0           0
                              18           1     1          0           0
                              19           1     1          0           0
                              20           1     1          0           0
                              21           1     1          0           0
                              22           1     1          0           0
                              23           1     1          0           0
                              24           1     1          0           0
                              25           1     1          0           0
                              26           1     1          0           0
                              27           1     1          0           0
                              28           1     1          0           0
                              29           1     1          0           0
...                                      ...   ...        ...         ...
44         181750  291554     70           0     1          0           0
                              71           0     1          0           0
                              72           0     1          0           0
                              73           0     1          0           0
                              74           0     1          0           0
                              75           0     1          0           0
                              76           0     1          0           0
                              77           0     1          0           0
                              78           0     0          0           0
                              79           0     0          0           0
                              80           0     0          0           0
                              81           0     0          0           0
                              82           0     0          0           0
                              83           0     0          0           0
                              84           0     0          0           0
                              85           0     0          0           0
                              86           0     0          0           0
                              87           0     0          0           0
                              88           0     0          0           0
                              89           0     0          0           0
                              90           0     0          0           0
                              91           0     0          0           0
                              92           0     0          0           0
                              93           0     0          0           0
                              94           0     0          0           0
                              95           0     0          0           0
                              96           0     0          0           0
                              97           0     0          0           0
                              98           0     0          0           0
                              99           0     0          0           0

                                        dopamine  epinephrine  isuprel  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                0            0        0
                              1                1            0        0
                              2                1            0        0
                              3                0            0        0
                              4                0            0        0
                              5                0            0        0
                              6                0            0        0
                              7                0            0        0
                              8                0            0        0
                              9                0            0        0
                              10               0            0        0
                              11               0            0        0
                              12               0            0        0
                              13               0            0        0
                              14               0            0        0
                              15               0            0        0
                              16               0            0        0
                              17               0            0        0
                              18               0            0        0
                              19               0            0        0
                              20               0            0        0
                              21               0            0        0
                              22               0            0        0
                              23               0            0        0
                              24               0            0        0
                              25               0            0        0
                              26               0            0        0
                              27               0            0        0
                              28               0            0        0
                              29               0            0        0
...                                          ...          ...      ...
44         181750  291554     70               0            0        0
                              71               0            0        0
                              72               0            0        0
                              73               0            0        0
                              74               0            0        0
                              75               0            0        0
                              76               0            0        0
                              77               0            0        0
                              78               0            0        0
                              79               0            0        0
                              80               0            0        0
                              81               0            0        0
                              82               0            0        0
                              83               0            0        0
                              84               0            0        0
                              85               0            0        0
                              86               0            0        0
                              87               0            0        0
                              88               0            0        0
                              89               0            0        0
                              90               0            0        0
                              91               0            0        0
                              92               0            0        0
                              93               0            0        0
                              94               0            0        0
                              95               0            0        0
                              96               0            0        0
                              97               0            0        0
                              98               0            0        0
                              99               0            0        0

                                        milrinone  norepinephrine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                 0               0
                              1                 0               0
                              2                 0               0
                              3                 0               0
                              4                 0               1
                              5                 0               1
                              6                 0               1
                              7                 0               1
                              8                 0               1
                              9                 0               1
                              10                0               1
                              11                0               1
                              12                0               1
                              13                0               1
                              14                0               1
                              15                0               1
                              16                0               1
                              17                0               1
                              18                0               1
                              19                0               1
                              20                0               1
                              21                0               1
                              22                0               1
                              23                0               1
                              24                0               0
                              25                0               0
                              26                0               0
                              27                0               0
                              28                0               0
                              29                0               0
...                                           ...             ...
44         181750  291554     70                0               0
                              71                0               0
                              72                0               0
                              73                0               0
                              74                0               0
                              75                0               0
                              76                0               0
                              77                0               0
                              78                0               0
                              79                0               0
                              80                0               0
                              81                0               0
                              82                0               0
                              83                0               0
                              84                0               0
                              85                0               0
                              86                0               0
                              87                0               0
                              88                0               0
                              89                0               0
                              90                0               0
                              91                0               0
                              92                0               0
                              93                0               0
                              94                0               0
                              95                0               0
                              96                0               0
                              97                0               0
                              98                0               0
                              99                0               0

                                        phenylephrine  vasopressin  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0            0
                              1                     1            0
                              2                     1            0
                              3                     1            0
                              4                     1            0
                              5                     1            0
                              6                     1            0
                              7                     1            0
                              8                     1            0
                              9                     1            0
                              10                    1            0
                              11                    1            0
                              12                    1            0
                              13                    1            0
                              14                    1            0
                              15                    1            0
                              16                    1            0
                              17                    1            0
                              18                    1            0
                              19                    1            0
                              20                    1            0
                              21                    1            0
                              22                    1            0
                              23                    1            0
                              24                    1            0
                              25                    1            0
                              26                    1            0
                              27                    1            0
                              28                    1            0
                              29                    1            0
...                                               ...          ...
44         181750  291554     70                    1            0
                              71                    1            0
                              72                    1            0
                              73                    1            0
                              74                    1            0
                              75                    1            0
                              76                    1            0
                              77                    1            0
                              78                    0            0
                              79                    0            0
                              80                    0            0
                              81                    0            0
                              82                    0            0
                              83                    0            0
                              84                    0            0
                              85                    0            0
                              86                    0            0
                              87                    0            0
                              88                    0            0
                              89                    0            0
                              90                    0            0
                              91                    0            0
                              92                    0            0
                              93                    0            0
                              94                    0            0
                              95                    0            0
                              96                    0            0
                              97                    0            0
                              98                    0            0
                              99                    0            0

                                        colloid_bolus  crystalloid_bolus  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0                  0
                              1                     0                  0
                              2                     0                  0
                              3                     0                  0
                              4                     0                  0
                              5                     0                  0
                              6                     0                  0
                              7                     0                  0
                              8                     0                  0
                              9                     0                  0
                              10                    0                  0
                              11                    0                  0
                              12                    0                  0
                              13                    0                  0
                              14                    0                  0
                              15                    0                  1
                              16                    0                  0
                              17                    0                  0
                              18                    0                  1
                              19                    0                  0
                              20                    0                  0
                              21                    0                  0
                              22                    0                  1
                              23                    0                  0
                              24                    0                  1
                              25                    0                  0
                              26                    0                  0
                              27                    0                  1
                              28                    0                  0
                              29                    0                  0
...                                               ...                ...
44         181750  291554     70                    0                  0
                              71                    0                  0

In [60]:
x = np.array(list(X_merge.reset_index().groupby('subject_id').apply(create_x_matrix)))
y = np.array(list(Y.loc[idx[:44],:].reset_index().groupby('subject_id').apply(create_y_matrix)))[:,:,0]

In [61]:
x.shape

(30, 240, 330)

In [62]:
y.shape

(30, 240)

In [63]:
y

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [64]:
lengths = np.array(list(X_merge.reset_index().groupby('subject_id').apply(lambda x: x.shape[0])))

In [65]:
lengths

array([146,  41,  89, 128,  39, 184,  88,  50,  31,  32,  26, 142,  28,
        31,  13,  86,  52,  27,  45, 191, 185,  38,  18, 130,  27,  28,
        82,  46, 112, 100])

In [67]:
keys = pd.Series(X_merge.reset_index()['subject_id'].unique())

In [68]:
keys

0      3
1      4
2      6
3      9
4     11
5     12
6     13
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
16    26
17    28
18    30
19    31
20    32
21    33
22    34
23    35
24    36
25    37
26    41
27    42
28    43
29    44
dtype: int64

In [69]:
print("X tensor shape: ", x.shape)
print("Y tensor shape: ", y.shape)
print("lengths shape: ", lengths.shape)

X tensor shape:  (30, 240, 330)
Y tensor shape:  (30, 240)
lengths shape:  (30,)

## Stratified Sampling

In [70]:
np.where(keys.isin(train_ids['subject_id']))

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 12, 14, 15, 16, 17, 18,
        20, 21, 23, 24, 25, 27, 28, 29], dtype=int64),)

In [71]:
np.where(keys.isin(test_ids['subject_id']))[0]

array([11, 13, 19, 22, 26], dtype=int64)

In [73]:
np.where(keys.isin(split_train_ids['subject_id']))

(array([ 0,  1,  4,  5,  6,  7,  8,  9, 10, 14, 15, 16, 17, 18, 21, 23, 25,
        27, 28, 29], dtype=int64),)

In [74]:
np.where(keys.isin(val_ids['subject_id']))[0]

array([ 2,  3, 12, 20, 24], dtype=int64)

In [75]:
train_indices = np.where(keys.isin(train_ids['subject_id']))[0]
test_indices = np.where(keys.isin(test_ids['subject_id']))[0]
train_static = train_ids
split_train_indices = np.where(keys.isin(split_train_ids['subject_id']))[0]
val_indices = np.where(keys.isin(val_ids['subject_id']))[0]

In [76]:
X_train = x[split_train_indices]
Y_train = y[split_train_indices]
X_test = x[test_indices]
Y_test = y[test_indices]
X_val = x[val_indices]
Y_val = y[val_indices]
lengths_train = lengths[split_train_indices]
lengths_val = lengths[val_indices]
lengths_test = lengths[test_indices]

In [27]:
print("Training size: ", X_train.shape[0])
print("Validation size: ", X_val.shape[0])
print("Test size: ", X_test.shape[0])

Training size:  24129
Validation size:  3448
Test size:  6895

In [99]:
set(np.diff(Y_train[0][1: 1 + 6]))

{0.0}

In [91]:
np.expand_dims(Y_train[0][1: 1 + 6], 1).shape

(6, 1)

In [92]:
np.concatenate((X_train[0][1: 1 + 6], np.expand_dims(Y_train[0][1: 1 + 6],1)), axis=1).shape

(6, 331)

## Make Windows

In [102]:
def make_3d_tensor_slices(X_tensor, Y_tensor, lengths):

    num_patients = X_tensor.shape[0]
    timesteps = X_tensor.shape[1]
    num_features = X_tensor.shape[2]
    # SLICE_SIZE 片大小 6
    X_tensor_new = np.zeros((lengths.sum(), SLICE_SIZE, num_features + 1))
    Y_tensor_new = np.zeros((lengths.sum()))

    current_row = 0
    
    for patient_index in range(num_patients):
        x_patient = X_tensor[patient_index]
        y_patient = Y_tensor[patient_index]
        length = lengths[patient_index]
# PREDICTION_WINDOW 预测窗口 4 
# GAP_TIME 4 间隔时间
# 
        for timestep in range(length - PREDICTION_WINDOW - GAP_TIME - SLICE_SIZE):
            x_window = x_patient[timestep:timestep+SLICE_SIZE]
            y_window = y_patient[timestep:timestep+SLICE_SIZE]
            x_window = np.concatenate((x_window, np.expand_dims(y_window,1)), axis=1)
            # 隔了 PREDICTION_WINDOW
            result_window = y_patient[timestep+SLICE_SIZE+GAP_TIME:timestep+SLICE_SIZE+GAP_TIME+PREDICTION_WINDOW]
            result_window_diff = set(np.diff(result_window))
            # 如果有1 意味着 有 从 0 -》 变到 1 
            #if 1 in result_window_diff: pdb.set_trace()
            gap_window = y_patient[timestep+SLICE_SIZE:timestep+SLICE_SIZE+GAP_TIME]
            gap_window_diff = set(np.diff(gap_window))

            #print result_window, result_window_diff

            if OUTCOME_TYPE == 'binary':
                if max(gap_window) == 1:
                    result = None
                elif max(result_window) == 1:
                    result = 1
                elif max(result_window) == 0:
                    result = 0
                if result != None:
                    X_tensor_new[current_row] = x_window
                    Y_tensor_new[current_row] = result
                    current_row += 1

            else: 
                if 1 in gap_window_diff or -1 in gap_window_diff:
                    result = None
                elif (len(result_window_diff) == 1) and (0 in result_window_diff) and (max(result_window) == 0):
                    result = CHUNK_KEY['CONTROL']
                elif (len(result_window_diff) == 1) and (0 in result_window_diff) and (max(result_window) == 1):
                    result = CHUNK_KEY['ON_INTERVENTION']
                elif 1 in result_window_diff: 
                    result = CHUNK_KEY['ONSET']
                elif -1 in result_window_diff:
                    result = CHUNK_KEY['WEAN']
                else:
                    result = None

                if result != None:
                    X_tensor_new[current_row] = x_window
                    Y_tensor_new[current_row] = result
                    current_row += 1

    X_tensor_new = X_tensor_new[:current_row,:,:]
    Y_tensor_new = Y_tensor_new[:current_row]

    return X_tensor_new, Y_tensor_new, current_row

In [105]:
x_train, y_train, a = make_3d_tensor_slices(X_train, Y_train, lengths_train)
x_val, y_val, b = make_3d_tensor_slices(X_val, Y_val, lengths_val)
x_test, y_test, c = make_3d_tensor_slices(X_test, Y_test, lengths_test)

In [107]:
a

933

In [106]:
x_train.shape

(933, 6, 331)

In [93]:
y_train.shape

(933,)

In [110]:
y_train_classes = label_binarize(y_train, classes=range(NUM_CLASSES))
y_val_classes = label_binarize(y_val, classes=range(NUM_CLASSES))
y_test_classes = label_binarize(y_test, classes=range(NUM_CLASSES))

In [119]:
y_train_classes

array([[0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       ...,
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0]])

In [112]:
y_train_classes.shape

(933, 4)

In [113]:
del X_train, Y_train, X_test, Y_test, X_val, Y_val

In [114]:
print('shape of x_train: ', x_train.shape)
print('shape of x_val: ', x_val.shape)
print('shape of x_test: ', x_test.shape)

shape of x_train:  (933, 6, 331)
shape of x_val:  (370, 6, 331)
shape of x_test:  (368, 6, 331)

(933,)

# Random Forest and Logistic Regression

## Prepare data

In [33]:
static_col = 17 #static_to_keep.shape[1] - 1
time_series_col = 124 #X_merge.shape[1] - static_col _shape_repr(array.shape)

In [34]:
def remove_duplicate_static(x):
    x_static = x[:,0,time_series_col:x.shape[2]-1]
    x_timeseries = np.reshape(x[:,:,:time_series_col],(x.shape[0], -1))
    x_int = x[:,:,-1]
    x_concat = np.concatenate((x_static, x_timeseries, x_int), axis=1)
    return x_concat

In [35]:
# concatenate hourly features
x_train_concat = remove_duplicate_static(x_train)
x_val_concat = remove_duplicate_static(x_val)
x_test_concat = remove_duplicate_static(x_test)

In [36]:
print(x_train_concat.shape)
print(x_val_concat.shape)
print(x_test_concat.shape)

(1107493, 767)
(161025, 767)
(314548, 767)

## Hyperparameter Generation

In [48]:
class DictDist():
    def __init__(self, dict_of_rvs): self.dict_of_rvs = dict_of_rvs
    def rvs(self, n):
        a = {k: v.rvs(n) for k, v in self.dict_of_rvs.items()}
        out = []
        for i in range(n): out.append({k: vs[i] for k, vs in a.items()})
        return out
    
class Choice():
    def __init__(self, options): self.options = options
    def rvs(self, n): return [self.options[i] for i in ss.randint(0, len(self.options)).rvs(n)]

In [49]:
N = 10
np.random.seed(RANDOM)
LR_dist = DictDist({
    'C': Choice(np.geomspace(1e-3, 1e3, 10000)),
    'penalty': Choice(['l2']),
    'solver': Choice(['sag']),
    'max_iter': Choice([100, 200]),
    'class_weight': Choice(['balanced']),
    'multi_class': Choice(['multinomial']),
    'random_state': Choice([RANDOM])
})
LR_hyperparams_list = LR_dist.rvs(N)
        
RF_dist = DictDist({
    'n_estimators': ss.randint(50, 200),
    'max_depth': ss.randint(2, 10),
    'min_samples_split': ss.randint(2, 75),
    'min_samples_leaf': ss.randint(1, 50),
    'class_weight': Choice(['balanced']),
    'random_state': Choice([RANDOM])
})
RF_hyperparams_list = RF_dist.rvs(N)

## Fit model

In [56]:
def run_basic(model, hyperparams_list, X_train, X_val, X_test):
    best_s, best_hyperparams = -np.Inf, None
    for i, hyperparams in enumerate(hyperparams_list):
        M = model(**hyperparams)
        M.fit(X_train, y_train)
        s = roc_auc_score(y_val_classes, M.predict_proba(X_val),average='macro')
        if s > best_s:
            best_s, best_hyperparams = s, hyperparams

    return run_only_final(model, best_hyperparams, X_train, X_val, X_test)

def run_only_final(model, best_hyperparams, X_train, X_val, X_test):
    best_M = model(**best_hyperparams)
    best_M.fit(np.concatenate((X_train, X_val)), np.concatenate((y_train, y_val)))
    y_pred  = best_M.predict_proba(X_test)
    idx = np.argmax(y_pred, axis=-1)
    y_pred_label = np.zeros(y_pred.shape)
    y_pred_label[np.arange(y_pred_label.shape[0]), idx] = 1
    auc   = roc_auc_score(y_test_classes, y_pred, average=None)
    aucmacro = roc_auc_score(y_test_classes, y_pred, average='macro')
    accuracy =  accuracy_score(y_test_classes, y_pred_label)
    f1 = f1_score(y_test_classes, y_pred_label, average='macro')
    auprc = average_precision_score(y_test_classes, y_pred_label, average='macro')
    return auc, aucmacro, accuracy, f1, auprc

In [57]:
results = {}
for model_name, model, hyperparams_list in [('RF', RandomForestClassifier, RF_hyperparams_list), 
                                            ('LR', LogisticRegression, LR_hyperparams_list)]:
    if model_name not in results: results[model_name] = {}

    results[model_name] = run_basic(
        model, hyperparams_list, x_train_concat, x_val_concat, x_test_concat)
    print("Final results for model %s, (AUC, Macro_AUC, Accuracy, F1 Macro, AUPRC Macro)" % (model_name))
    print(results[model_name])

Final results for model RF, (AUC, Macro_AUC, Accuracy, F1 Macro, AUPRC Macro)
(array([0.8707733 , 0.98981498, 0.9852656 , 0.93999635]), 0.9464625569824558, 0.7965493342828439, 0.4810231595666129, 0.42696393873684396)

/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/sklearn/linear_model/sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Final results for model LR, (AUC, Macro_AUC, Accuracy, F1 Macro, AUPRC Macro)
(array([0.71889636, 0.98294004, 0.98429292, 0.93236335]), 0.9046231696007481, 0.7849231277897173, 0.4772524408862778, 0.43060796540254614)

# CNN

In [41]:
import tensorflow as tf
from tensorflow import set_random_seed

import keras
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, Flatten, Reshape, RepeatVector, Lambda
from keras.layers import Input, Conv2D, Conv1D, Conv3D, MaxPooling2D, MaxPooling1D
from keras.layers import Concatenate
from keras import backend as K
from keras.callbacks import EarlyStopping

import random as rn

Using TensorFlow backend.

In [53]:
BATCH_SIZE = 128
EPOCHS = 12
DROPOUT = 0.5

In [73]:
from sklearn.utils import class_weight
class_weight = class_weight.compute_class_weight('balanced', np.unique(y_train), y_train)
#class_weight = [1,1,1,1]
class_weight = dict(zip(range(len(class_weight)), class_weight))

In [74]:
sess = tf.Session(graph=tf.get_default_graph())
K.set_session(sess)

np.random.seed(RANDOM)
set_random_seed(RANDOM)
rn.seed(RANDOM)

input_shape = (x_train.shape[1], x_train.shape[2])
inputs = Input(shape=input_shape)
model = Conv1D(64, kernel_size=3,
                 strides=1,
                 activation='relu',
                 input_shape=input_shape,
                 padding='same',
                 name='conv2')(inputs)

model = (MaxPooling1D(pool_size=3, strides=1))(model)

model2 = Conv1D(64, kernel_size=4,
                 strides=1,
                 activation='relu',
                 input_shape=input_shape,
                 padding='same',
                 name='conv3')(inputs)

model2 = MaxPooling1D(pool_size=3, strides=1)(model2)

model3 = Conv1D(64, kernel_size=5,
                 strides=1,
                 activation='relu',
                 input_shape=input_shape,
                 padding='same',
                 name='conv4')(inputs)

model3 = MaxPooling1D(pool_size=3, strides=1)(model3)

models = [model, model2, model3]

full_model = keras.layers.concatenate(models)
full_model = Flatten()(full_model)
full_model = Dense(128, activation='relu')(full_model)
full_model = Dropout(DROPOUT)(full_model)
full_model = Dense(NUM_CLASSES, activation='softmax')(full_model)

full_model = keras.models.Model(input=inputs, outputs=full_model)

full_model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adam(lr=.0005),
              metrics=['accuracy'])

early_stopping = EarlyStopping(monitor='val_loss', patience=2)

full_model.fit(x_train, y_train_classes,
          batch_size=BATCH_SIZE,
          epochs=EPOCHS,
          verbose=1,
          class_weight=class_weight,
          callbacks=[early_stopping],
          validation_data=(x_val, y_val_classes))

/home/shirlyw/anaconda3/envs/mimic_extract_py36/lib/python3.6/site-packages/ipykernel_launcher.py:45: UserWarning: Update your `Model` call to the Keras 2 API: `Model(outputs=Tensor("de..., inputs=Tensor("in...)`

Train on 1107493 samples, validate on 161025 samples
Epoch 1/12
1107493/1107493 [==============================] - 89s 80us/step - loss: 0.8548 - acc: 0.5986 - val_loss: 0.5923 - val_acc: 0.7453
Epoch 2/12
1107493/1107493 [==============================] - 88s 80us/step - loss: 0.7790 - acc: 0.6304 - val_loss: 0.6337 - val_acc: 0.7545
Epoch 3/12
1107493/1107493 [==============================] - 88s 80us/step - loss: 0.7613 - acc: 0.6550 - val_loss: 0.7265 - val_acc: 0.6119

In [75]:
test_preds_cnn = full_model.predict(x_test, batch_size=BATCH_SIZE)
idx = np.argmax(test_preds_cnn, axis=-1)
test_preds_cnn_label = np.zeros(test_preds_cnn.shape)
test_preds_cnn_label[np.arange(test_preds_cnn_label.shape[0]), idx] = 1
print("AUC:")
print(roc_auc_score(y_test_classes, test_preds_cnn, average=None))
print("AUC Macro:")
print(roc_auc_score(y_test_classes, test_preds_cnn, average='macro'))
print("Accuracy: ")
print(accuracy_score(y_test_classes, test_preds_cnn_label))
print("F1 Macro:")
print(f1_score(y_test_classes, test_preds_cnn_label, average='macro'))
print("AUPRC Macro: ")
print(average_precision_score(y_test_classes, test_preds_cnn_label, average='macro'))

AUC:
[0.72176515 0.98400569 0.98589619 0.93864793]
AUC Macro:
0.9075787404731244
Accuracy:
0.6180106056945204
F1 Macro:
0.4442057432421319
AUPRC Macro:
0.4239125752031193

# LSTM

In [115]:
import functools
from sklearn.utils import class_weight
class_weight = class_weight.compute_class_weight('balanced', np.unique(y_train), y_train)
#class_weight = [1,1,1,1]

In [117]:
np.unique(y_train)

array([0., 1., 2., 3.])

In [116]:
class_weight

array([19.4375    ,  0.3143531 ,  1.4578125 , 12.27631579])

In [43]:
BATCH_SIZE = 128
EPOCHS = 12
KEEP_PROB = 0.8
REGULARIZATION = 0.001
NUM_HIDDEN = [512, 512]

In [46]:
def lazy_property(function):
    attribute = '_' + function.__name__

    @property
    @functools.wraps(function)
    def wrapper(self):
        if not hasattr(self, attribute):
            setattr(self, attribute, function(self))
        return getattr(self, attribute)
    return wrapper


class VariableSequenceLabelling:

    def __init__(self, data, target, dropout_prob, reg, num_hidden, class_weights):
        self.data = data
        self.target = target
        self.dropout_prob = dropout_prob
        self.reg = reg
        self._num_hidden = num_hidden
        self._num_layers = len(num_hidden)
        self.num_classes = len(class_weights)
        self.attn_length = 0
        self.class_weights = class_weights
        self.prediction
        self.error
        self.optimize

    @lazy_property
    def make_rnn_cell(self,
                      attn_length=0,
                      base_cell=tf.nn.rnn_cell.BasicLSTMCell,
                      state_is_tuple=True):

        attn_length = self.attn_length
        input_dropout = self.dropout_prob
        output_dropout = self.dropout_prob

        cells = []
        for num_units in self._num_hidden:
            cell = base_cell(num_units, state_is_tuple=state_is_tuple)
            cell = tf.nn.rnn_cell.DropoutWrapper(cell, input_keep_prob=input_dropout, output_keep_prob=output_dropout,
                                                seed=RANDOM)
            cells.append(cell)

        cell = tf.nn.rnn_cell.MultiRNNCell(cells, state_is_tuple=state_is_tuple)

        return cell


    # predictor for slices
    @lazy_property
    def prediction(self):

        cell = self.make_rnn_cell

        # Recurrent network.
        output, final_state = tf.nn.dynamic_rnn(cell,
            self.data,
            dtype=tf.float32
        )

        with tf.variable_scope("model") as scope:
            tf.get_variable_scope().reuse_variables()

            # final weights
            num_classes = self.num_classes
            weight, bias = self._weight_and_bias(self._num_hidden[-1], num_classes)
    
            # flatten + sigmoid
            if self.attn_length > 0: 
                logits = tf.matmul(final_state[0][-1][-1], weight) + bias
            else: 
                logits = tf.matmul(final_state[-1][-1], weight) + bias

            prediction = tf.nn.softmax(logits)
            
            return logits, prediction

        
    @lazy_property
    def cross_ent(self):
        predictions = self.prediction[0]
        # tf.squeeze 删除所有为1 的维度
        real = tf.cast(tf.squeeze(self.target), tf.int32)
        # tf.gather 从params的axis维根据indices的参数值获取切片
        weights = tf.gather(self.class_weights, real)

        xent = tf.losses.sparse_softmax_cross_entropy(labels=real, logits=predictions, weights=weights)
        loss = tf.reduce_mean(xent) #shape 1
        ce = loss
        l2 = self.reg * sum(tf.nn.l2_loss(tf_var) for tf_var in tf.trainable_variables())
        ce += l2
        return ce

    @lazy_property
    def optimize(self):
        learning_rate = 0.0003
        optimizer = tf.train.AdamOptimizer(learning_rate)
        return optimizer.minimize(self.cross_ent)

    @lazy_property
    def error(self):
        prediction = tf.argmax(self.prediction[1], 1)
        real = tf.cast(self.target, tf.int32)
        prediction = tf.cast(prediction, tf.int32)
        mistakes = tf.not_equal(real, prediction)
        mistakes = tf.cast(mistakes, tf.float32)
        mistakes = tf.reduce_sum(mistakes, reduction_indices=0)
        total = 128
        mistakes = tf.divide(mistakes, tf.to_float(total))
        return mistakes

    @staticmethod
    def _weight_and_bias(in_size, out_size):
        weight = tf.truncated_normal([in_size, out_size], stddev=0.01)
        bias = tf.constant(0.1, shape=[out_size])
        return tf.Variable(weight), tf.Variable(bias)

    #这个方法是添加变量到直方图中，但是不配合其他的方法，根本就显示不出来它的意义！
    @lazy_property
    def summaries(self):
        tf.summary.scalar('loss', tf.reduce_mean(self.cross_ent))
        tf.summary.scalar('error', self.error)
        merged = tf.summary.merge_all()
        return merged

In [47]:
tf.reset_default_graph()
set_random_seed(RANDOM)

config = tf.ConfigProto(allow_soft_placement = True)
# if attn_length > 0:
#     # weights file initialized
#     weight_file = 'weights.txt'
#     with open(weight_file, 'a') as the_file:
#         pass

with tf.Session(config = config) as sess, tf.device('/cpu:0'):
    _, length, num_features = x_train.shape
    num_data_cols = num_features

    # placeholders
    data = tf.placeholder(tf.float32, [None, length, num_data_cols])
    target = tf.placeholder(tf.float32, [None])
    dropout_prob = tf.placeholder(tf.float32)
    reg = tf.placeholder(tf.float32)

    # initialization
    model = VariableSequenceLabelling(data, target, dropout_prob, reg, num_hidden=NUM_HIDDEN, class_weights=class_weight)
    sess.run(tf.global_variables_initializer())

    
    batch_size = BATCH_SIZE
    dp = KEEP_PROB
    rp = REGULARIZATION
    train_samples = x_train.shape[0]
    indices = list(range(train_samples))
    num_classes = NUM_CLASSES
    
    # for storing results
    test_data = x_test
    val_data = x_val

    val_aucs = []
    test_aucs = []
    val_aucs_macro = []
    test_aucs_macro = []
    test_accuracys = []
    test_f1s = []
    test_auprcs = []
    
    epoch = -1

    while (epoch < 3 or max(np.diff(early_stop[-3:])) > 0):
        epoch += 1
        np.random.seed(RANDOM)
        np.random.shuffle(indices)

        num_batches = train_samples//batch_size
        for batch_index in range(num_batches):

            sample_indices = indices[batch_index*batch_size:batch_index*batch_size+batch_size]
            batch_data = x_train[sample_indices, :, :num_data_cols]
            batch_target = y_train[sample_indices]
            _, loss = sess.run([model.optimize, model.cross_ent], {data: batch_data, target: batch_target, dropout_prob: dp, reg: rp})

            # write train accuracy to log files every 10 batches
            #if batch_index % 2000 == 0:
            #    loss, prediction, error = sess.run([model.cross_ent, model.prediction, model.error], {data: batch_data, target: batch_target, dropout_prob: dp, reg: rp})
            #    #train_writer.add_summary(summaries, global_step=epoch*batch_index)
            #    print('Epoch {:2d} Batch {:2d}'.format(epoch+1, batch_index))
            #    print('Loss = ', np.mean(loss))
            #    print('Error = ', error)

        cur_val_preds = sess.run(model.prediction, {data: x_val, target: y_val, dropout_prob: 1, reg: rp}) 
        val_preds = cur_val_preds[1]
        
        cur_test_preds = sess.run(model.prediction, {data: x_test, target: y_test, dropout_prob: 1, reg: rp}) 
        test_preds = cur_test_preds[1]
        
        val_auc_macro = roc_auc_score(y_val_classes, val_preds, average='macro')
        test_auc_macro = roc_auc_score(y_test_classes, test_preds, average='macro')
        val_aucs_macro.append(val_auc_macro)
        test_aucs_macro.append(test_auc_macro)

        val_auc = roc_auc_score(y_val_classes, val_preds, average=None)
        test_auc = roc_auc_score(y_test_classes, test_preds, average=None)
        val_aucs.append(val_auc)
        test_aucs.append(test_auc)
        
        
        idx = np.argmax(cur_test_preds, axis=-1)
        test_preds_label = np.zeros(test_preds.shape)
        test_preds_label[np.arange(test_preds_label.shape[0]), idx] = 1
        test_accuracy = accuracy_score(y_test_classes, test_preds_label)
        test_accuracys.append(test_accuracy)

        test_f1 = f1_score(y_test_classes, test_preds_label, average='macro')
        test_f1s.append(test_f1)

        test_auprc = average_precision_score(y_test_classes, test_preds_label, average='macro')
        test_auprcs.append(test_auprc)

        
        if isinstance(val_aucs_macro[-1], dict):
            early_stop = [val_auc_macro for val_auc_macro in val_aucs_macro]
        else: 
            early_stop = val_aucs_macro


    if isinstance(val_aucs_macro[-1], dict):
        best_epoch = np.argmax(np.array([val_auc_macro for val_auc_macro in val_aucs_macro]))
    else: 
        best_epoch = np.argmax(val_aucs_macro)

    best_val_auc = val_aucs[best_epoch]
    best_test_auc = test_aucs[best_epoch]
    best_test_auc_macro = test_aucs_macro[best_epoch]
    best_test_accuracy = test_accuracys[best_epoch]
    best_test_f1 = test_f1s[best_epoch]
    best_test_auprc = test_auprcs[best_epoch]
    
    print("AUC:")
    print(best_test_auc)
    print("AUC Macro:")
    print(best_test_auc_macro)
    print("Accuracy: ")
    print(best_test_accuracy)
    print("F1 Macro:")
    print(best_test_f1)
    print("AUPRC Macro: ")
    print(best_test_auprc)

AUC:
[0.70118422 0.98406029 0.98295723 0.93134933]
AUC Macro:
0.8998877686897263
Accuracy:
0.8432226560016277
F1 Macro:
0.5010009037632867
AUPRC Macro:
0.4440893566798846